<section class="content404" id="page-body">
    <div class="container">
            <h1>404</h1>
            <p class="lead">WE’RE SORRY. THE PAGE YOU ARE LOOKING FOR DOES NOT EXIST.</p>
            <p class="lead">Maybe you were looking for one of these pages:</p><br/>
            <ul>
                <li><a href="/" type="button" class="btn btn-default">HOME</a></li>
                <li><a href="/collections/all-products" type="button" class="btn btn-default">PRODUCTS</a></li>
                <li><a href="/pages/about-us/#about_contact" type="button" class="btn btn-default">CONTACT</a></li>
            </ul>
    </div><!-- end 404 container -->
</section><!-- end 404 section -->