<div class="container">
		<div class="col-md-12 col-sm-12 col-xs-12 text-center">&nbsp;</div>
		<div class="col-md-12 col-sm-12 col-xs-12 text-center">&nbsp;</div>
		<div class="row">
			<div class="col-sm-8 col-xs-12">

				<p>In the early 2000s, the founders of one of America&rsquo;s largest and oldest audio and speaker manufacturers launched Soundcast. Their vision? Develop reliable, high-performance wireless audio products that deliver the ultimate in sound quality and work seamlessly with any lifestyle.</p>
				<p><br />With a history of building top-quality products for industry leaders for nearly 40 years, in 2006 Soundcast visionaries unveiled the award-winning OutCast portable music system. OutCast proved that high-quality wireless sound could be achieved in a portable speaker, setting the worldwide benchmark for the future of wireless audio.</p>

			</div>

			<div class="col-sm-4 col-xs-12">
				<img class="img-thumbnail" src="http://cdn.gosoundcast.com/470x470/building_2_1.jpg">
			</div>
		<br />
		</div>
		<div class="row">
			<div class="col-xs-12">
				<p><br />After years of experience and acclaim, Soundcast debuts Melody, the &ldquo;<strong>Take Anywhere, Everywhere&rdquo; wireless Bluetooth&reg;HD speaker</strong>. Another award-winning product, Melody proves that Soundcast continues as a pace setter for wireless audio technology and innovation.</p>
				<p><strong>Proudly Designed and Engineered in the USA</strong></p>
			</div>
		</div>


	</div>

</div>

<div class="col-md-12 col-sm-12 col-xs-12 text-center">
	<img class="img-thumbnail" src="http://cdn.gosoundcast.com/470x470/logo.jpg" alt="Logo" />
</div>

</div>