
<section id="action-wrapper">
	<div class="action-carousel">
		<article class="blog text-center">
        	<div class="action-visual">
            	<img src="http://cdn.gosoundcast.com/actions/go.jpg" alt="" />
                <div class="action-hover">
                	<div class="hover-icons animated ">
                        <a href="https://www.youtube.com/watch?v=5vTnzmwhYJg" rel="prettyPhoto" title=""><span class="fa fa-play fa-3x"></span></a>
                    </div>
                </div>
            </div>
            <!-- <a href="https://www.youtube.com/watch?v=5vTnzmwhYJg" rel="prettyPhoto" title=""class="head">Experience Melody</a> -->
        </article>
		<article class="blog text-center">
        	<div class="">
                <a href="#inline-1" rel="prettyPhoto[inline]" ><img src="http://cdn.gosoundcast.com/actions/weather.jpg" alt="" /></a>
                <div id="inline-1" class="hide">
                    <div class="container">
                        <div class="row">
                            <div id="lightbox_text" class="col-xs-12 text-center">
                                <h3>Weather Resistant</h2>
<p>Soundcast's portable music systems boast a weather resistant design which can withstand heat, cold, rain, snow and even prevent UV discoloration. Our music systems are made to use indoors or outdoors as you enjoy, party and live your life!</p>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="action-hover">
                	<div class="hover-icons animated ">
                    	<span class="icon-search icon-3x"></span>
                    </div>
                </div>-->
            </div>
           <!-- <a href="#" class="head">Weather Resistant</a> -->
        </article>
		<article class="blog text-center">
        	<div class="">
            	<a href="#inline-2" rel="prettyPhoto[inline]" ><img src="http://cdn.gosoundcast.com/actions/battery.jpg" alt="" />
                <div id="inline-2" class="hide">
                    <div class="container">
                        <div class="row">
                            <div id="lightbox_text" class="col-xs-12 text-center">
                                <h3>Extended Battery Life</h2>
<p>Soundcast’s portable music systems are equipped with long-lasting rechargeable batteries which last up to 20 hours on a single charge.  Maximize every tailgate, dinner party, and camping excursion with pure, flawless, uninterrupted sound.</p>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="action-hover">
                	<div class="hover-icons animated ">
                    	<span class="icon-search icon-3x"></span>
                    </div>
                </div> -->
            </div>
           <!-- <a href="#" class="head">20 Hours Of Fun</a> -->
        </article>
		<article class="blog text-center">
        	<div class="">
            	<a href="#inline-3" rel="prettyPhoto[inline]" ><img src="http://cdn.gosoundcast.com/actions/360.jpg" alt="" />
                <div id="inline-3" class="hide">
                    <div class="container">
                        <div class="row">
                            <div id="lightbox_text" class="col-xs-12 text-center">
                                <h3>360&deg; Sound</h2>
<p>Soundcast’s portable music systems achieve amazing room and yard filling sound with a unique 360º omni-directional design.  Unlike traditional one-directional speakers, Soundcast’s 360º design produces volume in all directions that will fill any space with full, luxurious sound.</p>
                                </p>
                                <!-- <p><a href="<?php echo $this->getUrl('melody'); ?>" class="btn btn-carousel text-center">Learn More</a></p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <!-- <a href="<?php echo $this->getUrl('about-us');?>" class="head">About Us</a> -->
        </article>
    </div>
    <div id="action-carousel-pagination" class="carousel-pagination"></div>
</section><!-- END: #action-wrapper -->