<div id="awards" class="page-section">
	<header class="section-header">
		<h1 class="section-title">Award Winning</h1>
	</header>
	<ul class="awards-melody awards-list container clearfix">
		<li class="award col-xs-6 col-sm-2"></li>
		<li class="award col-xs-6 col-sm-2"></li>
		<li class="award col-xs-6 col-sm-2"><img class="img-responsive" src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Soundcast/Editors_Choice_Top_40_OutCast_small_zpsfd58be1f.png"></li>
		<li class="award col-xs-6 col-sm-2"><img class="img-responsive" src="{{'awards4.png' | asset_url}}"></li>
		<li class="award col-xs-6 col-sm-2"></li>
		<li class="award col-xs-6 col-sm-2"></li>
	</ul>
</div>