<section id="award">

	<div class="container">
		<div class="row">
			<div id="cms_pad" class="section-subheading-support">
				<h1 class="section-title">Awards</h1>
			</div>

			<hr /></div>

			<div class="row">
				<div class="col-sm-2 col-xs-6"><img src="http://cdn.gosoundcast.com/awards/melody/4.png" alt="PC" /></div>
				<div class="col-sm-2 col-xs-6"><img src="http://cdn.gosoundcast.com/awards/melody/6.png" alt="Resi" /></div>
				<div class="col-sm-2 col-xs-6"><img src="http://cdn.gosoundcast.com/awards/melody/5.png" alt="Excite" /></div>
				<div class="col-sm-2 col-xs-6"><img src="http://cdn.gosoundcast.com/awards/melody/1.png" alt="CEPro" /></div>
				<div class="col-sm-2 col-xs-6"><img src="http://cdn.gosoundcast.com/awards/melody/3.png" alt="Best" /></div>
				<div class="col-sm-2 col-xs-6"><img src="http://cdn.gosoundcast.com/awards/melody/2.png" alt="innovations" /></div>

			</div>

		</div>
		</section>