<section id="brand_download" class="sidebar-section">
	<header class="section-header clearfix">
		<h1 class="section-title">Full Line Brochure</h1>
	</header><!-- /.section-header -->
	<div class="section-body">
		<a class="link-wrapper text-center" href="http://cdn.gosoundcast.com/partner_resources/SCS-FullLineBrochure-lrz-sm.pdf">
			<img class="img-thumbnail" src="http://cdn.gosoundcast.com/partner_resources/resources/full-line-brochure.png">
			<p>Download</p>
		</a>
	</div>
</section>

