<div id="about_contact" class="contact-us">
	<div class="container">
		<div class="section-heading makeitfade-default animated fadeInUp">Contact Us!</div>
		<hr />
		<div class="row">
			<div class="col-sm-offset-3 col-sm-3 col-xs-6">
				<p class="lead lead-label">Call Us</p>
			</div>
			<div class="col-sm-3 col-xs-6">
				<p class="lead">619-591-0126<br />800-722-1293 (Toll-Free)</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-3 col-sm-3 col-xs-6">
				<p class="lead lead-label">Send Us A Message</p>
			</div>
			<div class="col-sm-3 col-xs-6">
				<p class="lead"><a href="mailto:info@goSoundcast.com">info@goSoundcast.com</a></p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-3 col-sm-3 col-xs-6">
				<p class="lead lead-label">Career Inquiries</p>
			</div>
			<div class="col-sm-3 col-xs-6">
				<p class="lead"><a href="mailto:careers@goSoundcast.com">careers@goSoundcast.com</a></p>
			</div>
		</div>
	</div>
</div>