
<!-- START: #explore-->
<a id="explore_products"></a>
<div id="explore" class="page-section">
	<header class="section-header makeitfade-default">
		<h1 class="section-title">Explore Our Products</h1>
	</header>

	<div class="section-body">
		<ul class="row product-row product-row-1 container">
			<li class="col-xs-3 product product-1 text-center">
				<img src="http://cdn.gosoundcast.com/transparent/melody.png"/>
				<div class="text-wrapper">
					<h3 class="product-name">Melody</h3>
				</div>
			</li>
			<li class="col-xs-3 product product-2 text-center">
				<img src="http://cdn.gosoundcast.com/transparent/OutCast_Jr.png"/>
				<div class="text-wrapper">
					<h3 class="product-name">OutCast Jr.</h3>
				</div>
			</li>
			<li class="col-xs-3 product product-3 text-center">
				<img src="http://cdn.gosoundcast.com/transparent/OutCast.png"/>
				<div class="text-wrapper">
					<h3 class="product-name">OutCast</h3>
				</div>
			</li>
			<li class="col-xs-3 product product-4 text-center">
				<img src="http://cdn.gosoundcast.com/transparent/bluecast.png"/>
				<div class="text-wrapper">
					<h3 class="product-name">BlueCast</h3>
				</div>
			</li>
		</ul><!-- /.product-row -->

		<div class="collapse-details collapse-details-1">
			<ul class="product-previews product-previews-1">
				<div class="preview-close-wrapper">
					<div class="preview-close">
						<span>X</span>
					</div>
				</div><!-- /.close-wrapper -->

				<!-- MELODY PREVIEW -->
				<li class="product-preview product-preview-1">
					<div class="image-wrapper">
						<img class="img-responsive" src="http://cdn.gosoundcast.com/Product_Dropdown/500x500/Melody_500x500.jpg"/>
						<div class="image-overlay">
							<img class="img-responsive" src="http://cdn.gosoundcast.com/feature-preview-overlay.png"/>
						</div>
					</div>
					<div class="preview-main">
						<header class="preview-header">
							<h1>Melody</h1>
						</header>
						<div class="preview-body hidden-xs">
							<p class="preview-description">No more flirting with perfection, achieve it. Melody delivers omni-directional, beautifully precise sound with the latest Bluetooth® HD v3.0 technology from Soundcast’s portable all-weather music system. Stream your playlist wirelessly as you enjoy, party and live your life.</p>
						</div>
						<footer class="preview-footer hidden-sm hidden-xs">
							<div class="more-info">
								<a class="btn btn-learnmore" href="/collections/wireless-speakers/products/melody">LEARN MORE</a>
							</div>
						</footer>
					</div>
					<div class="product-details">
						<ul class="details-list">
							<li class="feature-detail feature-detail-1 clearfix">
								<div class="feature-icon icon-weather-32"></div>
								<p class="feature-text">Weather Resistant Design</p>
							</li>
							<li class="feature-detail feature-detail-2 clearfix">
								<div class="feature-icon icon-battery-32"></div>
								<p class="feature-text">Built-in 20 Hour Rechargeable Battery</p>
							</li>
							<li class="feature-detail feature-detail-3 clearfix">
								<div class="feature-icon icon-phone-32"></div>
								<p class="feature-text">Stream via Bluetooth&reg; HD</p>
							</li>
							<li class="feature-detail feature-detail-4 clearfix">
								<div class="feature-icon icon-surround-32"></div>
								<p class="feature-text">Incredible 360º Sound</p>
							</li>
							<li class="feature-detail feature-detail-5 clearfix">
								<div class="feature-icon icon-keypad-32"></div>
								<p class="feature-text">Built-in Keypad Controls</p>
							</li>
							<li class="feature-detail feature-detail-6 feature-detail-last clearfix">
								<div class="feature-icon icon-handle-32"></div>
								<p class="feature-text">Comfortable Carrying Handle</p>
							</li>
						</ul>
						<footer class="preview-footer hidden-md hidden-lg">
							<div class="more-info">
								<a class="btn btn-learnmore" href="#">LEARN MORE</a>
							</div>
						</footer>
					</div>
				</li>

				<!-- OUTCAST JR. PREVIEW -->
				<li class="product-preview product-preview-2">
					<div class="image-wrapper">
						<img class="img-responsive" src="http://cdn.gosoundcast.com/Product_Dropdown/500x500/outcast_jr_500x500.jpg"/>
						<div class="image-overlay">
							<img class="img-responsive" src="http://cdn.gosoundcast.com/feature-preview-overlay.png"/>
						</div>
					</div>
					<div class="preview-main">
						<header class="preview-header">
							<h1>OutCast Jr.</h1>
						</header>
						<div class="preview-body hidden-xs">
							<p class="preview-description">Be the life of every event when you show up with your OutCast Jr. in hand. This powerful, yet compact and portable wireless music system delivers omni-directional performance. Maximize every tailgate and dinner party with pure, flawless, uninterrupted sound. Use the BlueCast, iCast, or UAT transmitters to tailor your audio needs and stream your music wirelessly.</p>
						</div>
						<footer class="preview-footer hidden-sm hidden-xs">
							<div class="more-info">
								<a class="btn btn-learnmore" href="http://www.gosoundcast.com/products/outcast-jr-bluetooth-hd">LEARN MORE</a>
							</div>
						</footer>
					</div>
					<div class="product-details">
						<ul class="details-list">
							<li class="feature-detail feature-detail-1 clearfix">
								<div class="feature-icon icon-weather-32"></div>
								<p class="feature-text">Weather Resistant</p>
							</li>
							<li class="feature-detail feature-detail-2 clearfix">
								<div class="feature-icon icon-keypad-32"></div>
								<p class="feature-text">Built-in Keypad Controls</p>
							</li>
							<li class="feature-detail feature-detail-3 clearfix">
								<div class="feature-icon icon-surround-32"></div>
								<p class="feature-text">Incredible 360º Sound</p>
							</li>
							<li class="feature-detail feature-detail-4 clearfix">
								<div class="feature-icon icon-battery-32"></div>
								<p class="feature-text">15 Hour Built-in Rechargeable Battery</p>
							</li>
							<li class="feature-detail feature-detail-5 clearfix">
								<div class="feature-icon icon-bluecast-32"></div>
								<p class="feature-text">Works with BlueCast Bluetooth&reg; HD receiver</p>
							</li>
							<li class="feature-detail feature-detail-6 feature-detail-last clearfix">
								<div class="feature-icon icon-car-32"></div>
								<p class="feature-text">12-Volt Automotive Adapter</p>
							</li>
						</ul>
						<footer class="preview-footer hidden-md hidden-lg">
							<div class="more-info">
								<a class="btn btn-learnmore" href="#">LEARN MORE</a>
							</div>
						</footer>
					</div>
				</li>

				<!-- OUTCAST -->
				<li class="product-preview product-preview-3">
					<div class="image-wrapper">
						<img class="img-responsive" src="http://cdn.gosoundcast.com/Product_Dropdown/500x500/soundcast_500x500.jpg"/>
						<div class="image-overlay">
							<img class="img-responsive" src="http://cdn.gosoundcast.com/feature-preview-overlay.png"/>
						</div>
					</div>
					<div class="preview-main">
						<header class="preview-header">
							<h1>OutCast</h1>
						</header>
						<div class="preview-body hidden-xs">
							<p class="preview-description">The award-winning OutCast is a weather-resistant, wireless speaker that unleashes rich omni-directional stereo sound throughout your house, backyard and patio. You can even achieve quality sound on boating excursions, beach vacations, and outdoor parties. With a broadcast range of up to 300 feet, this powerful wireless speaker receives transmissions through walls, floors, and ceilings without the hassle of running wires. Use the BlueCast, iCast, or UAT transmitters to tailor your audio needs and stream your music wirelessly.</p>
						</div>
						<footer class="preview-footer hidden-sm hidden-xs">
							<div class="more-info">
								<a class="btn btn-learnmore" href="http://www.gosoundcast.com/products/outcast-bluetooth-hd">LEARN MORE</a>
							</div>
						</footer>
					</div>
					<div class="product-details">
						<ul class="details-list">
							<li class="feature-detail feature-detail-1 clearfix">
								<div class="feature-icon icon-weather-32"></div>
								<p class="feature-text">Weather resistant</p>
							</li>
							<li class="feature-detail feature-detail-2 clearfix">
								<div class="feature-icon icon-keypad-32"></div>
								<p class="feature-text">Built-in backlit keypad controls</p>
							</li>
							<li class="feature-detail feature-detail-3 clearfix">
								<div class="feature-icon icon-surround-32"></div>
								<p class="feature-text">Incredible 360º sound</p>
							</li>
							<li class="feature-detail feature-detail-4 clearfix">
								<div class="feature-icon icon-battery-32"></div>
								<p class="feature-text">20 hour built-in rechargeable battery</p>
							</li>
							<li class="feature-detail feature-detail-5 clearfix">
								<div class="feature-icon icon-bluecast-32"></div>
								<p class="feature-text">Works with BlueCast Bluetooth&reg; HD receiver</p>
							</li>
							<li class="feature-detail feature-detail-6 feature-detail-last clearfix">
								<div class="feature-icon icon-audio-32"></div>
								<p class="feature-text">8” Woofer and 100 watts of audio power</p>
							</li>
						</ul>
						<footer class="preview-footer hidden-md hidden-lg">
							<div class="more-info">
								<a class="btn btn-learnmore" href="#">LEARN MORE</a>
							</div>
						</footer>
					</div>
				</li>

				<!-- BLUECAST -->
				<li class="product-preview product-preview-4">
					<div class="image-wrapper">
						<img class="img-responsive" src="http://cdn.gosoundcast.com/Product_Dropdown/500x500/bluecast_500x500.jpg"/>
						<div class="image-overlay">
							<img class="img-responsive" src="http://cdn.gosoundcast.com/feature-preview-overlay.png"/>
						</div>
					</div>
					<div class="preview-main">
						<header class="preview-header">
							<h1>BlueCast</h1>
						</header>
						<div class="preview-body hidden-xs">
							<p class="preview-description">Add Bluetooth® HD to any OutCast speaker for a completely wireless 33ft range.</p>
						</div>
						<footer class="preview-footer hidden-sm hidden-xs">
							<div class="more-info">
								<a class="btn btn-learnmore" href="/collections/wireless-speakers/products/bluecast">LEARN MORE</a>
							</div>
						</footer>
					</div>
					<div class="product-details">
						<ul class="details-list">
							<li class="feature-detail feature-detail-1 clearfix">
								<div class="feature-icon icon-none"></div>
								<p class="feature-text">One button pairing.</p>
							</li>
							<li class="feature-detail feature-detail-2 clearfix">
								<div class="feature-icon icon-none"></div>
								<p class="feature-text">Stream Bluetooth® HD v3.0 with Apt-X and AAC.</p>
							</li>
							<li class="feature-detail feature-detail-3 clearfix">
								<div class="feature-icon icon-none"></div>
								<p class="feature-text">Fits into OutCast’s mini-jack housing.* </p>
							</li>
							<li class="feature-detail feature-detail-4 clearfix">
								<div class="feature-icon icon-none"></div>
								<p class="feature-text">Bluetooth&reg; HD Music control from multiple devices.</p>
							</li>
							<li class="feature-detail feature-detail-5 clearfix">
								<div class="feature-icon icon-none"></div>
								<p class="feature-text">10 hour built-in rechargeable battery. </p>
							</li>
							<li class="feature-detail feature-detail-6 feature-detail-last clearfix">
								<div class="feature-icon icon-none"></div>
								<p class="feature-text">Rapid Battery Recharge.</p>
							</li>
						</ul>
						<footer class="preview-footer hidden-md hidden-lg">
							<div class="more-info">
								<a class="btn btn-learnmore" href="#">LEARN MORE</a>
							</div>
						</footer>
					</div>
				</li>
			</ul>
		</div>

		<ul class="row product-row product-row-2 container">
			<li class="col-xs-3 product product-5 text-center">
				<img src="http://cdn.gosoundcast.com/transparent/UAT.png"/>
				<div class="text-wrapper">
					<h3 class="product-name">UAT</h3>
				</div>
			</li>
			<li class="col-xs-3 product product-6 text-center">
				<img src="http://cdn.gosoundcast.com/transparent/iCast.png"/>
				<div class="text-wrapper">
					<h3 class="product-name">iCast</h3>
				</div>
			</li>
			<li class="col-xs-3 product product-7 text-center">
				<img src="http://cdn.gosoundcast.com/transparent/SurroundCast.png"/>
				<div class="text-wrapper">
					<h3 class="product-name">SurroundCast</h3>
				</div>
			</li>
			<li class="col-xs-3 product product-8 text-center">
				<img src="http://cdn.gosoundcast.com/transparent/SubCast.png"/>
				<div class="text-wrapper">
					<h3 class="product-name">SubCast</h3>
				</div>
			</li>
		</ul><!-- /.product-row -->

		<div class="collapse-details collapse-details-2">
			<ul class="product-previews product-previews-2">
				<div class="preview-close-wrapper">
					<div class="preview-close">
						<span>X</span>
					</div>
				</div><!-- /.close-wrapper -->

				<!-- -->
				<li class="product-preview product-preview-5 row">
					<div class="image-wrapper">
						<img class="img-responsive" src="http://cdn.gosoundcast.com/Product_Dropdown/500x500/uat_500x500.jpg"/>
						<div class="image-overlay">
							<img class="img-responsive" src="http://cdn.gosoundcast.com/feature-preview-overlay.png"/>
						</div>
					</div>
					<div class="preview-main">
						<header class="preview-header">
							<h1>UAT</h1>
						</header>
						<div class="preview-body hidden-xs">
							<p class="preview-description">Achieve 300 feet of wireless audio transmission from your computer or home entertainment system.</p>
						</div>
						<footer class="preview-footer hidden-sm hidden-xs">
							<div class="more-info">
								<a class="btn btn-learnmore" href="/collections/wireless-speakers/products/uat">LEARN MORE</a>
							</div>
						</footer>
					</div>
					<div class="product-details">
						<ul class="details-list">
							<li class="feature-detail feature-detail-1 clearfix">
								<div class="feature-icon icon-none"></div>
								<p class="feature-text">Long-range transmission to OutCast.</p>
							</li>
							<li class="feature-detail feature-detail-2 clearfix">
								<div class="feature-icon icon-none"></div>
								<p class="feature-text">Plug and Play—Requires.</p>
							</li>
							<li class="feature-detail feature-detail-3 feature-detail-last clearfix">
								<div class="feature-icon icon-none"></div>
								<p class="feature-text">Compatible with multiple devices.</p>
							</li>
						</ul>
						<footer class="preview-footer hidden-md hidden-lg">
							<div class="more-info">
								<a class="btn btn-learnmore" href="#">LEARN MORE</a>
							</div>
						</footer>
					</div>
				</li>

				<!-- -->
				<li class="product-preview product-preview-6 row">
					<div class="image-wrapper">
						<img class="img-responsive" src="http://cdn.gosoundcast.com/Product_Dropdown/500x500/icast_500x500.jpg"/>
						<div class="image-overlay">
							<img class="img-responsive" src="http://cdn.gosoundcast.com/feature-preview-overlay.png"/>
						</div>
					</div>
					<div class="preview-main">
						<header class="preview-header">
							<h1>iCast</h1>
						</header>
						<div class="preview-body hidden-xs">
							<p class="preview-description">Transmit your music wirelessly for up to 300 feet from your iPhone/iPod while charging your device.</p>
						</div>
						<footer class="preview-footer hidden-sm hidden-xs">
							<div class="more-info">
								<a class="btn btn-learnmore" href="/collections/wireless-speakers/products/icast">LEARN MORE</a>
							</div>
						</footer>
					</div>
					<div class="product-details">
						<ul class="details-list">
							<li class="feature-detail feature-detail-1 clearfix">
								<div class="feature-icon icon-none"></div>
								<p class="feature-text">Long-range transmission to OutCast.</p>
							</li>
							<li class="feature-detail feature-detail-2 clearfix">
								<div class="feature-icon icon-none"></div>
								<p class="feature-text">Auxiliary input / output connection.</p>
							</li>
							<li class="feature-detail feature-detail-3 clearfix">
								<div class="feature-icon icon-none"></div>
								<p class="feature-text">Compatible with Whole House Audio Systems</p>
							</li>
							<li class="feature-detail feature-detail-4 feature-detail-last clearfix">
								<div class="feature-icon icon-none"></div>
								<p class="feature-text">Docks and charges any Apple® iPhone (5/5s with adapter)</p>
							</li>
						</ul>
						<footer class="preview-footer hidden-md hidden-lg">
							<div class="more-info">
								<a class="btn btn-learnmore" href="#">LEARN MORE</a>
							</div>
						</footer>
					</div>
				</li>

				<!-- -->
				<li class="product-preview product-preview-7 row">
					<div class="image-wrapper">
						<img class="img-responsive" src="http://cdn.gosoundcast.com/Product_Dropdown/500x500/surroundcast_500x500.jpg"/>
						<div class="image-overlay">
							<img class="img-responsive" src="http://cdn.gosoundcast.com/feature-preview-overlay.png"/>
						</div>
					</div>
					<div class="preview-main">
						<header class="preview-header">
							<h1>SurroundCast</h1>
						</header>
						<div class="preview-body hidden-xs">
							<p class="preview-description">Connect surround speakers through a wireless transmitter and receiver, taking your music and movie experience to the next level.</p>
						</div>
						<footer class="preview-footer hidden-sm hidden-xs">
							<div class="more-info">
								<a class="btn btn-learnmore" href="/collections/audio-solutions/products/">LEARN MORE</a>
							</div>
						</footer>
					</div>
					<div class="product-details">
						<ul class="details-list">
							<li class="feature-detail feature-detail-1 clearfix">
								<div class="feature-icon icon-none"></div>
								<p class="feature-text">Wireless Surround Sound</p>
							</li>
							<li class="feature-detail feature-detail-2 feature-detail-last clearfix">
								<div class="feature-icon icon-none"></div>
								<p class="feature-text">Powerful Sound Experience</p>
							</li>
						</ul>
						<footer class="preview-footer hidden-md hidden-lg">
							<div class="more-info">
								<a class="btn btn-learnmore" href="#">LEARN MORE</a>
							</div>
						</footer>
					</div>
				</li>

				<!-- -->
				<li class="product-preview product-preview-8 row">
					<div class="image-wrapper">
						<img class="img-responsive" src="http://cdn.gosoundcast.com/Product_Dropdown/500x500/subcast_500x500.jpg"/>
						<div class="image-overlay">
							<img class="img-responsive" src="http://cdn.gosoundcast.com/feature-preview-overlay.png"/>
						</div>
					</div>
					<div class="preview-main">
						<header class="preview-header">
							<h1>SubCast</h1>
						</header>
						<div class="preview-body hidden-xs">
							<p class="preview-description">Convert any subwoofer to wireless to achieve deep, ground-shaking bass everywhere.</p>
						</div>
						<footer class="preview-footer hidden-sm hidden-xs">
							<div class="more-info">
								<a class="btn btn-learnmore" href="/collections/audio-solutions/products/subcast">LEARN MORE</a>
							</div>
						</footer>
					</div>
					<div class="product-details">
						<ul class="details-list">
							<li class="feature-detail feature-detail-1 clearfix">
								<div class="feature-icon icon-none"></div>
								<p class="feature-text">Wireless Sound</p>
							</li>
							<li class="feature-detail feature-detail-2 clearfix">
								<div class="feature-icon icon-none"></div>
								<p class="feature-text">Plug and Play</p>
							</li>
						</ul>
						<footer class="preview-footer hidden-md hidden-lg">
							<div class="more-info">
								<a class="btn btn-learnmore" href="#">LEARN MORE</a>
							</div>
						</footer>
					</div>
				</li>
			</ul>
		</div>
	</div><!-- /.section-body -->
</div><!-- /#explore -->