
<div id="faq">
	<div class="section-heading">FAQs</div>
	<div class="container">
		<h3>Frequently Asked Questions</h3>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div id="accordion" class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title"><a class="accordion-toggle active" href="#collapseOne" data-toggle="collapse" data-parent="#accordion"> How do I turn on/off my OutCast Jr.? </a></h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body">
								<p>Press the on/off button located on in the center of OutCast Jr.&rsquo;s keypad.</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title"><a class="accordion-toggle" href="#collapseTwo" data-toggle="collapse" data-parent="#accordion"> How do I connect OutCast Jr. with my Smartphone/Music player? </a></h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse">
							<div class="panel-body">
								<p>To make OutCast Jr wireless, you will need one of our transmitters&mdash;iCast, UAT or our Bluetooth&reg; HD receiver (BlueCast).</p>
								<p><span style="text-decoration: underline;">When using iCast:</span></p>
								<ol>
									<li>Make sure you have set the iCast and your speaker to the same channel (1, 2, or 3).</li>
									<li>Turn your speaker. on.</li>
									<li>Plug iCast in with the AC wall plug.&nbsp;</li>
									<li>Dock your 30-pin iPhone or iPod (or latest generation iPhone/iPod touch through a 30-pin to lighting adapter). If not using one of these devices, connect from your music player into the iCast&rsquo;s Auxiliary jack using the included 3.5mm cable.&nbsp;</li>
									<li>Open your music app and press the &ldquo;Play&rdquo; button on your device.&nbsp;</li>
								</ol></div>
								<div class="panel-body"><span style="text-decoration: underline;">When using UAT: </span></div>
								<div class="panel-body"><ol>
									<li>Make sure you have set the UAT and your speaker to the same channel (1, 2, or 3).&nbsp;</li>
									<li>Turn your speaker on.&nbsp;</li>
									<li>Plug the UAT into a power source &mdash; the wall with AC adapter, or your computer with USB plug.&nbsp;</li>
									<li>If using a computer, open your music program and press the &ldquo;Play&rdquo; button. If using a different music player, start playback on your device making sure it has enough volume.&nbsp;</li>
								</ol></div>
								<div class="panel-body"><span style="text-decoration: underline;">When using BlueCast: </span></div>
								<div class="panel-body"><ol>
									<li>Make sure your Smartphone/music player has the Bluetooth&reg; HD function enabled&nbsp;</li>
									<li>Press BlueCast&rsquo;s Bluetooth&reg; HD button. The blue LED will start flashing slowly.&nbsp;</li>
									<li>Go to the Bluetooth&reg; HD settings on your music player and scan for devices (Android and other non-apple devices) or simply wait until &ldquo;BlueCast&rdquo; shows up on the device list (Apple devices).&nbsp;</li>
									<li>Pick &ldquo;BlueCast&rdquo; from the device list and wait until your music player reports that it has been paired to BlueCast and has established a connection. BlueCast will show a solid blue LED when is ready to play music.&nbsp;</li>
									<li>Plug BlueCast into the Auxiliary input bay on your speaker.&nbsp;</li>
									<li>Turn on your speaker.&nbsp;</li>
									<li>Open your music app on your device and press the &ldquo;Play&rdquo; button.</li>
								</ol></div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a class="accordion-toggle" href="#collapseThree" data-toggle="collapse" data-parent="#accordion"> Can I connect my smartphone or music player directly to the speaker? </a></h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Yes, OutCast Jr comes with an auxiliary mini jack input where you can directly connect your external audio device. You can also connect your external device to either of our long-range transmitters (iCast or UAT) by means of the audio input port to send your music wirelessly to the speaker.&nbsp;</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a class="accordion-toggle" href="#collapseFour" data-toggle="collapse" data-parent="#accordion"> How does the volume control work? </a></h4>
							</div>
							<div id="collapseFour" class="panel-collapse collapse">
								<div class="panel-body">
									<p>You can control OutCast Jr.&rsquo;s volume by doing individual presses on the volume buttons (located on the right hand side of the unit), or by pressing and holding the volume-up or volume-down buttons until you reach the maximum or minimum level in a ramp up or ramp down fashion accordingly.</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a class="accordion-toggle" href="#collapseFive" data-toggle="collapse" data-parent="#accordion"> How do I control my music when using my OutCast Jr.? </a></h4>
							</div>
							<div id="collapseFive" class="panel-collapse collapse">
								<div class="panel-body">
									<p>OutCast Jr. comes with a set of buttons on their keypad that you can use to navigate your iPod&rsquo;s music collection or playlists (only when you&rsquo;re using the iCast Transmitter), or you can directly navigate your audio content using your music player&rsquo;s buttons.&nbsp;</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a class="accordion-toggle" href="#collapseSix" data-toggle="collapse" data-parent="#accordion"> What is the maximum transmission range of Soundcast products? </a></h4>
							</div>
							<div id="collapseSix" class="panel-collapse collapse">
								<div class="panel-body">
									<p>The engineering specification distance is 350ft but this is a reference number that was obtained in a line of sight scenario without any interference or blocking objects in between transmitter and speaker. It is a &ldquo;lab&rdquo; reference; however in real applications you should expect a range of 100ft to 150ft through walls and doors.</p>
									<p>Please note, the maximum achievable range that you obtain in your particular case will depend on the number of wireless devices operating in the building or area and the RF activity in the neighborhood. If you have wireless devices you&rsquo;re not using or they don&rsquo;t need to be on permanently, it would be a good idea to disconnect them to decrease the RF activity in the area and improve your Soundcast products performance. The range will also depend on the number of walls, thickness and type of materials that the signal has to travel across. Important: Metal and water are the toughest elements for a 2.4GHz wireless signal, we recommend avoiding them.</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a class="accordion-toggle" href="#collapseSeven" data-toggle="collapse" data-parent="#accordion"> How good is the sound quality of Soundcast products? </a></h4>
							</div>
							<div id="collapseSeven" class="panel-collapse collapse">
								<div class="panel-body">
									<p>It is very high; you won&rsquo;t hear any static or degradation in the sound at all. If the sound quality of your audio source is good, our speakers and receivers will reproduce that same quality, in other words our systems are transparent and won&rsquo;t introduce any sound artifacts or degradation.</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a class="accordion-toggle" href="#collapseEight" data-toggle="collapse" data-parent="#accordion"> What if there&rsquo;s no sound? </a></h4>
							</div>
							<div id="collapseEight" class="panel-collapse collapse">
								<div class="panel-body"><ol>
									<li>Check that the channels are matched in transmitter and speaker.</li>
									<li>Make sure there are no other wireless devices in close proximity to either the transmitter or the speaker interfering with the Soundcast wireless link.</li>
									<li>Make sure your speaker is on and has enough volume.&nbsp;</li>
									<li>Un-dock and re-dock your iPhone/iPod to reset the wireless link.</li>
								</ol></div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a class="accordion-toggle" href="#collapseNine" data-toggle="collapse" data-parent="#accordion"> What if OutCast Jr. mutes while playing my music? </a></h4>
							</div>
							<div id="collapseNine" class="panel-collapse collapse">
								<div class="panel-body">Devices with outdated iOS or Android OS versions might suffer sound interruptions at random times, we recommend updating your devices to ensure optimal performance</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a class="accordion-toggle" href="#collapseTen" data-toggle="collapse" data-parent="#accordion"> Are Soundcast products water proof? </a></h4>
							</div>
							<div id="collapseTen" class="panel-collapse collapse">
								<div class="panel-body">No. Soundcast products are <em>water resistant</em> but not waterproof. &ldquo;Water resistant&rdquo; means that our products can be taken out and be operated in outdoor areas safely and they will resist diverse weather conditions temporarily but they shouldn&rsquo;t be left out permanently. Like all electronic components, lengthy exposure to the elements can increase the odds that condensation will develop internally in the cabinet and reduce contact and component life span. Occasional and short duration exposure to temperature extremes and external moisture due to rain or snow is tolerable in a sense that upon discovery, the unit is returned indoors, toweled off and dried out for continued safety. OutCast Jr. can handle the rain, UV rays of the sun, and sub-zero temperatures, but we do not recommend submerging the speaker completely in water or leaving it outdoors for extended periods of time (weeks or longer).</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a class="accordion-toggle" href="#collapseEleven" data-toggle="collapse" data-parent="#accordion"> Are Soundcast speakers designed for outdoors only? </a></h4>
							</div>
							<div id="collapseEleven" class="panel-collapse collapse">
								<div class="panel-body">No, they are great for outdoor applications due to their portability and because they&rsquo;re complete solutions (they are self amplified, battery operated and wireless) but they can be used indoors as well and provide rich sound in any room or area they are located. They&rsquo;re wireless but can be used in wired mode as well and can be run on AC instead of battery power.</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a class="accordion-toggle" href="#collapseTwelve" data-toggle="collapse" data-parent="#accordion"> How long will OutCast Jr. play my music continuously? </a></h4>
							</div>
							<div id="collapseTwelve" class="panel-collapse collapse">
								<div class="panel-body">Length of play depends on the volume level you use and on the music style you play. Playing music at an average listening level will give you up to 6 to 8 hours on the OutCast Jr. If you play soft background music at lower levels you could get up to 20 hours or so. Rap or rock music will definitely drain the battery faster than country or classical for example.</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a class="accordion-toggle" href="#collapseThirteen" data-toggle="collapse" data-parent="#accordion"> How long does it take to charge the battery? </a></h4>
							</div>
							<div id="collapseThirteen" class="panel-collapse collapse">
								<div class="panel-body">Charging OutCast Jr.'s battery with the supplied AC/DC adapter can take from 2 to 6 hours depending on the model. If you listen to music while charging, the charging process will take longer, for that reason we recommend to charge first and then listen.</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a class="accordion-toggle" href="#collapseFourteen" data-toggle="collapse" data-parent="#accordion"> Are Soundcast products compatible with other wireless products in the market? </a></h4>
							</div>
							<div id="collapseFourteen" class="panel-collapse collapse">
								<div class="panel-body">No they&rsquo;re not natively compatible but you can use them as an addition to them. Soundcast products only communicate directly with other products from the Soundcast brand and are not compatible with other wireless technologies in that sense, however you can use them as an extension to your existing wireless audio networks or combine them with other third party products that employ Bluetooth&reg; HD, Airplay or similar technologies; just remember to create a separation of at least 3ft in between them to avoid interference.</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a class="accordion-toggle" href="#collapseFifteen" data-toggle="collapse" data-parent="#accordion"> Can Soundcast products co-exist with other 2.4GHz wireless devices? </a></h4>
							</div>
							<div id="collapseFifteen" class="panel-collapse collapse">
								<div class="panel-body">Yes they can, however they must be installed away from other wireless devices to ensure interference free operation. A minimum distance of 3ft of separation is required but the farther apart the better. Please note that even though Soundcast products can co-exist with other wireless devices, the strength of the signal will depend on the number of wireless devices operating in your home or place where you are using your Soundcast products and also on the RF activity in your area. If you have wireless devices you&rsquo;re not using or they don&rsquo;t need to be on permanently, it would be a good idea to disconnect them to decrease the RF activity in the area and improve your Soundcast products performance.</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a class="accordion-toggle" href="#collapseSixteen" data-toggle="collapse" data-parent="#accordion"> How to contact Soundcast&rsquo;s customer service department? </a></h4>
							</div>
							<div id="collapseSixteen" class="panel-collapse collapse">
								<div class="panel-body">You can call us at (619) 591-0126 (toll free: 1-(800) 722-1293) or send us an email to: support@goSoundcast.com</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>