
		<div id="faq">
			<div class="section-heading">FAQs</div>
			<div class="container">
				<h3>Frequently Asked Questions</h3>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div id="accordion" class="panel-group">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a class="accordion-toggle active" href="#collapseOne" data-toggle="collapse" data-parent="#accordion">How do I turn on/off? </a></h4>
								</div>
								<div id="collapseOne" class="panel-collapse collapse in">
									<div class="panel-body">
										<p>Press the on/off button located on the left hand side of Melody&rsquo;s keypad.</p>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a class="accordion-toggle" href="#collapseTwo" data-toggle="collapse" data-parent="#accordion"> How do I pair Melody with my Smartphone/Music player?</a></h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse">
									<div class="panel-body">
										<p>First make sure your Smartphone/music player has the Bluetooth&reg; HD function enabled and then follow these steps:</p>
										<ol>
											<li>Step 1 &ndash; Turn Melody on.</li>
											<li>Step 2 &ndash; Press Melody&rsquo;s Bluetooth&reg; HD button (located below the power button). The blue LED will start flashing slowly.</li>
											<li>Step 3 &ndash; Go to the Bluetooth&reg; HD settings on your music player and scan for devices (Android and other non apple devices) or simply wait until &ldquo;Melody&rdquo; shows up on the device list (Apple devices).</li>
											<li>Step 4 &ndash; Pick &ldquo;Melody&rdquo; from the device list and wait until your music player reports that it has been paired to Melody and it has established a connection. Melody will show a solid blue LED when is ready to play music.</li>
											<li>Step 5 &ndash; Open your music app and press the &ldquo;Play&rdquo; button either on Melody&rsquo;s keypad or on your app&rsquo;s navigation controls.</li>
										</ol></div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title"><a class="accordion-toggle" href="#collapseThree" data-toggle="collapse" data-parent="#accordion"> How does the volume control work?</a></h4>
									</div>
									<div id="collapseThree" class="panel-collapse collapse">
										<div class="panel-body">
											<p>You can control Melody&rsquo;s volume by doing individual presses on the volume buttons (located on the right hand side of the unit), or by pressing and holding the volume-up or volume-down buttons until you reach the maximum or minimum level in a ramp up or ramp down fashion accordingly.</p>
											<p>Additionally, you can activate the power boost function to go beyond the maximum level when you need to give your old recordings or softer music tracks the extra punch they need.</p>
											<p>To do it, set the volume to the maximum level by pressing and holding the volume-up button until you reach the maximum level, then do individual presses on that same button to increase the volume even more. Melody will give you 5 extra volume-up steps!</p>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title"><a class="accordion-toggle" href="#collapseFour" data-toggle="collapse" data-parent="#accordion"> What do the LED&rsquo;s mean? </a></h4>
									</div>
									<div id="collapseFour" class="panel-collapse collapse">
										<div class="panel-body">
											<p>Melody uses the LED on the left side of the keypad to let you know its function status depending on the color and lighting fashion:</p>
											<ul>
												<li>a) Solid green: Melody has an audio cable connected to its auxiliary input and will only play music from an external source.</li>
												<li>b) Fast flashing blue: Melody is looking for previously paired Bluetooth&reg; HD devices and will connect to the first one that is available.</li>
												<li>c) Slow flashing blue: Melody&rsquo;s Bluetooth&reg; HD button has been pressed and your unit is in pairing mode and ready to establish a connection with a new device.</li>
											</ul>
											<p>In the same manner, the LED on the right side of the keypad lets you know about the status of Melody&rsquo;s battery:</p>
											<ul>
												<li>a) Solid red: Melody is connected to an AC outlet and charging its battery.</li>
												<li>b) Flashing red: The battery is running out of power and you should give Melody a break to charge.</li>
												<li>c) Red LED off: The battery is charged</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title"><a class="accordion-toggle" href="#collapseFive" data-toggle="collapse" data-parent="#accordion"> What if there&rsquo;s no sound? </a></h4>
									</div>
									<div id="collapseFive" class="panel-collapse collapse">
										<div class="panel-body">
											<p>If you paired Melody to your Bluetooth device but there&rsquo;s no sound, you can try the following:</p>
											<ol>
												<li>Press Melody&rsquo;s &ldquo;Pause&rdquo; button wait a few seconds and then press Melody&rsquo;s &ldquo;Play button&rdquo;.Some devices and even some apps may have trouble releasing the audio signal when playback is started for the first time, especially if you are using online services like Pandora or apps and/or an operating system that is not up to date or optimized for Bluetooth audio.</li>
												<li>Increase your Smartphone/Music player&rsquo;s volume.Some devices set the volume very low when a Bluetooth connection is established.</li>
												<li>Turn both Melody and your Smartphone/Music player off and wait until you see that the Bluetooth connection has been dropped. Then turn both devices back to on and wait until they re-establish a connection.</li>
												<li>Go to your Smartphone/Music player&rsquo;s Bluetooth settings and apply the &ldquo;forget&rdquo; command to erase Melody from its memory, then pair it again and try listening to music again.</li>
											</ol></div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title"><a class="accordion-toggle" href="#collapseSix" data-toggle="collapse" data-parent="#accordion"> What if Melody mutes while playing my music? </a></h4>
										</div>
										<div id="collapseSix" class="panel-collapse collapse">
											<div class="panel-body">
												<p>Some Smartphones and other Bluetooth audio devices as well as some music apps have trouble releasing the audio or maintaining a live audio stream. We recommend keeping your Bluetooth audio devices current with the latest updates from the manufacturer.</p>
												<p>You might come across problems when streaming audio from older devices like iPhone 4, older Android devices and older Bluetooth computer USB adapters. For best performance we recommend using current Smartphones, Music players and USB adapters with the latest Bluetooth technologies and firmware updates.</p>
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title"><a class="accordion-toggle" href="#collapseSeven" data-toggle="collapse" data-parent="#accordion"> Why does Melody sometimes distort while playing my music? </a></h4>
										</div>
										<div id="collapseSeven" class="panel-collapse collapse">
											<div class="panel-body">
												<p>When playing music with Melody at louder levels with the battery running very low, you may experience some distortion or noise in the audio due to the lack of energy to drive the speaker loudly. To continue enjoying your music at louder levels on battery mode, we recommend putting Melody to charge for about 4 hours before using it again. Please note that you may experience this distortion/noise effect even if you are using Melody on AC power because the unit will try to recharge the depleted battery and at the same time deliver a high output level. For this reason is recommended to keep Melody well charged so that the battery is always ready to deliver the maximum power.</p>
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title"><a class="accordion-toggle" href="#collapseEight" data-toggle="collapse" data-parent="#accordion"> How long will Melody play my music continuously? </a></h4>
										</div>
										<div id="collapseEight" class="panel-collapse collapse">
											<div class="panel-body">
												<p>On a fully charged battery you should expect 20 hours of uninterrupted playback when playing your tracks at an average listening level. This level has been identified as 31 short presses or clicks on the volume-up button. Please note, results may vary depending on the music style you play, e.g. if dance, rock or hip-hop music is played, the playback time maybe shorten slightly, while jazz, classical and soft music will allow the battery to extend its life several hours beyond the 20 hour mark.</p>
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title"><a class="accordion-toggle" href="#collapseNine" data-toggle="collapse" data-parent="#accordion"> How long does it take to charge the battery? </a></h4>
										</div>
										<div id="collapseNine" class="panel-collapse collapse">
											<div class="panel-body">
												<p>Charging the battery with the supplied AC/DC adapter can take from 4 to 6 hours depending on the remaining charge present in the battery. If you listen to music while charging it will take longer, for that reason we recommend to charge first and then listen.</p>
												<p>Also, if you charge your unit using a computer&rsquo;s USB port or a different USB cable, charging time may dramatically increase, for that reason we recommend charging with the supplied AC/DC adapter and USB cable.</p>
												Charging the battery with the supplied AC/DC adapter can take from 4 to 6 hours depending on the remaining charge present in the battery. If you listen to music while charging it will take longer, for that reason we recommend to charge first and then listen. Also, if you charge your unit using a computer&rsquo;s USB port or a different USB cable, charging time may dramatically increase, for that reason we recommend charging with the supplied AC/DC adapter and USB cable.</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="panel-title"><a class="accordion-toggle" href="#collapseTen" data-toggle="collapse" data-parent="#accordion"> How to contact Soundcast&rsquo;s customer service department? </a></h4>
											</div>
											<div id="collapseTen" class="panel-collapse collapse">
												<div class="panel-body">
													<p>You can call us at (619) 591-0126 (toll free: 1-(800) 722-1293) or send us an email to: support@goSoundcast.com</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- FAQ Container --></div>
						<!--#faq--></div>
