<div id="features-text" class="melody-features">
	<div class="feature-block left-block">
		<a href="{{ 'icast1.png' | asset_url }}" class="thumb" onclick="return false;">
			<div class="feature-pdp section-1 feature-item feature-item-1 clearfix">
				<div class="feature-icon icon-weather-32"></div>
				<div class="feature-description hidden-xs">
					<h2>Long Range Transmission</h2>
					<p>CD quality wireless transmission to Soundcast OutCast or OutCast Jr. speakers.</p>
				</div>
			</div>
		</a>
		<a href="{{ 'icast3.jpg' | asset_url }}" class="thumb" onclick="return false;">
			<div class="feature-pdp section-1 feature-item feature-item-2 clearfix">
				<div class="feature-icon icon-battery-32"></div>
				<div class="feature-description hidden-xs">
					<h2>Interference Free</h2>
					<p>2.4 GHz system – not affected by microwave ovens, cordless phones or other wireless devices.</p>
					
				</div>
			</div>
		</a>

	</div>
	<div class="feature-block right-block">
		<a href="{{'icast2.jpg' | asset_url}}" class="thumb" onclick="return false;">		
			<div class="feature-pdp section-1 feature-item feature-item-4 clearfix">
				<div class="feature-icon icon-surround-32"></div>
				<div class="feature-description hidden-xs">
					<h2>Stay Connected</h2>
					<p>Auxiliary input / output connection to all smart phones, iPods, tablets, PCs, or Macs.</p>
				</div>
			</div>
		</a>
		<a href="{{'icast4.jpg' | asset_url}}" class="thumb" onclick="return false;">		
			<div class="feature-pdp section-1 feature-item feature-item-5 clearfix">
				<div class="feature-icon icon-keypad-32"></div>
				<div class="feature-description hidden-xs">
					<h2>Apple iPhone Compatible*</h2>
					<p>iPhone 5 and newer models compatible when using lightning 30-pin to lightning adapter cable. </p>
				</div>
			</div>
		</a>
	</div>
</div>