<div id="features" class="page-section">
	<div class="container makeitfade">
		<header class="section-header">
			<h1 class="section-title">Features</h1>
		</header>

		<div class="section-body row">

			<div id="features-slides">
				{% include 'features-main-images' %}
			</div>

			{% include 'features-products' %}
		</div>
		
	</div>

</div>
