<div id="features-text" class="melody-features">
	<div class="feature-block left-block">
		<a href="{{ 'subfeat2.jpg' | asset_url }}" class="thumb" onclick="return false;">
			<div class="feature-pdp section-1 feature-item feature-item-1 clearfix">
				<div class="feature-description hidden-xs">
					<h2>Wireless Surround Sound</h2>
					<p>Place your subwoofer anywhere in the listening area without running wires.</p>
				</div>
			</div>
		</a>
	</div>
	<div class="feature-block right-block">
		<a href="{{'subfeat.jpg' | asset_url}}" class="thumb" onclick="return false;">		
			<div class="feature-pdp section-1 feature-item feature-item-4 clearfix">
				<div class="feature-description hidden-xs">
					<h2>Plug and Play</h2>
					<p>Contains a transmitter with speaker level inputs and an amplified receiver module with 60 watts of digital power and speaker level outputs.</p>
				</div>
			</div>
		</a>
	</div>
</div>