<div id="features-text" class="melody-features">
	<div class="feature-block left-block">
		<a href="{{ 'blue1.jpg' | asset_url }}" class="thumb white" onclick="return false;">
			<div class="feature-pdp section-1 feature-item feature-item-1 clearfix">
				<div class="feature-icon icon-weather-32"></div>
				<div class="feature-description hidden-xs">
					<h2>Incredible Wireless Range</h2>
					<p>Add Bluetooth&reg; HD to any OutCast Speaker for a 33 ft. range of wireless sound.</p>
				</div>
			</div>
		</a>
		<a href="{{ 'blue2.jpg' | asset_url }}" class="thumb white" onclick="return false;">
			<div class="feature-pdp section-1 feature-item feature-item-2 clearfix">
				<div class="feature-icon icon-battery-32"></div>
				<div class="feature-description hidden-xs">
					<h2>Long Lasting Battery Life</h2>
					<p>10-hour built-in rechargeable battery.</p>
					
				</div>
			</div>
		</a>

	</div>
	<div class="feature-block right-block">
		<a href="{{'blue3.jpg' | asset_url}}" class="thumb white" onclick="return false;">		
			<div class="feature-pdp section-1 feature-item feature-item-4 clearfix">
				<div class="feature-icon icon-surround-32"></div>
				<div class="feature-description hidden-xs">
					<h2>Easy Set Up</h2>
					<p>One button pairing, stream Bluetooth&reg; HD v3.0 with Apt-X and AAC CD quality audio.</p>
				</div>
			</div>
		</a>
		<a href="{{'blue4.jpg' | asset_url}}" class="thumb white" onclick="return false;">		
			<div class="feature-pdp section-1 feature-item feature-item-5 clearfix">
				<div class="feature-icon icon-keypad-32"></div>
				<div class="feature-description hidden-xs">
					<h2>Weather Resistant Seal </h2>
					<p>Dock the BlueCast Bluetooth&reg; HD Receiver into either the OutCast or OutCast Jr. while maintaining a tight weather resistant seal.</p>
				</div>
			</div>
		</a>
	</div>
</div>