<div id="features-text" class="melody-features">
	<div class="feature-block left-block">
		<a href="{{ 'uat1.jpg' | asset_url }}" class="thumb" onclick="return false;">
			<div class="feature-pdp section-1 feature-item feature-item-1 clearfix">
				<div class="feature-description hidden-xs">
					<h2>Long Range Transmission</h2>
					<p>Achieve 300 feet of wireless audio transmission from your computer or home entertainment system.</p>
				</div>
			</div>
		</a>
		<a href="{{ 'uat2.jpg' | asset_url }}" class="thumb" onclick="return false;">
			<div class="feature-pdp section-1 feature-item feature-item-2 clearfix">
				<div class="feature-description hidden-xs">
					<h2>Plug and Play</h2>
					<p>Requires no drivers or software to install, just plug and start listening to quality music!</p>
					
				</div>
			</div>
		</a>

	</div>
	<div class="feature-block right-block">
		<a href="{{'uat3.png' | asset_url}}" class="thumb" onclick="return false;">		
			<div class="feature-pdp section-1 feature-item feature-item-4 clearfix">
				<div class="feature-description hidden-xs">
					<h2>Strong Interference Free Signal</h2>
					<p>Transmits through walls, doors, floors and ceilings.</p>
				</div>
			</div>
		</a>
		<a href="{{'uat4.jpg' | asset_url}}" class="thumb" onclick="return false;">		
			<div class="feature-pdp section-1 feature-item feature-item-5 clearfix">
				<div class="feature-description hidden-xs">
					<h2>Multi-Compatibility</h2>
					<p>Compatible not just with OutCast and OutCast Jr, but with Mac and PC computers, televisions, cable boxes, and DVD players.</p>
				</div>
			</div>
		</a>
	</div>
</div>