<div id="features-text" class="melody-features">
	<div class="feature-block left-block">
		<a href="{{ 'surroundcaster.jpg' | asset_url }}" class="thumb" onclick="return false;">
			<div class="feature-pdp section-1 feature-item feature-item-1 clearfix">
				<div class="feature-icon icon-weather-32"></div>
				<div class="feature-description hidden-xs">
					<h2>Wireless Surround Sound</h2>
					<p>Connect surround speakers through a wireless transmitter and receiver, taking your music and movie experience to the next level.</p>
				</div>
			</div>
		</a>
	</div>
	<div class="feature-block right-block">
		<a href="{{'surroundcastfeat.jpg' | asset_url}}" class="thumb" onclick="return false;">		
			<div class="feature-pdp section-1 feature-item feature-item-4 clearfix">
				<div class="feature-icon icon-surround-32"></div>
				<div class="feature-description hidden-xs">
					<h2>Powerful Sound Experience</h2>
					<p>Contains a transmitter with speaker level inputs and an amplified receiver module with 60 watts of digital power and speaker level outputs.</p>
				</div>
			</div>
		</a>
	</div>
</div>