<!-- START: footer -->
<footer id="footer-wrapper">
	<div class="container hidden-xs">
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<img src="{{ 'brands.png' | asset_url}}" alt="Brands">
					</div>
				</div>
				<br/>

				<div class="row footer-links">

					<div class="col-md-9 col-sm-9">
						{% unless page.handle == 'fitness' %}
						<ul class="col-md-4 col-sm-4">
							<li><a href="/">Home</a></li>
							<li><a href="/collections/wireless-speakers">Wireless Speakers</a></li>
							<li><a href="/collections/audio-solutions">Audio Solutions</a></li>
							<li><a href="/collections/accessories">Accessories</a></li>
							<li><a href="/pages/skinit">Customize With SkinIt</a></li>



						</ul>
						<ul class="col-md-4 col-sm-4">
							<li><a href="/pages/about-us">About Soundcast</a></li>
							<li><a href="/blogs/blog">Blog</a></li>
							<li><a href="/pages/about-us">Careers</a></li>
							<li><a href="/pages/press">Press</a></li>
							<li><a href="/pages/reviews-news">Reviews and News</a></li>



						</ul>
						<ul class="col-md-4 col-sm-4">
							<li><a href="/pages/partner-resources">Partner Resources</a></li>
							<li><a href="/pages/find-retailers">Find A Retailer</a></li>

							<li><a href="/pages/return-policy">Return Policy</a></li>
							<li><a href="/pages/privacy-policy">Privacy Policy</a></li>
							<li><a href="/pages/terms">Terms and Conditions</a></li>
						</ul>
						{% endunless %}
					</div>
					{% unless page.handle == 'fitness' %}
					<ul class="col-md-3 col-sm-3 footer_account">
						<li><a href="/cart">My Cart <span class="fa fa-shopping-cart"></span></a></li>
						<li><a href="/account/login">Login/Register</a></li>
						<li><a href="/pages/about-us/#about_contact">Contact Us</a></li>
						<li><a href="/pages/support-all">Support</a></li>
						<li><a href="/pages/safe-buying-guide">Safe Buying Guide</a></li>
					</ul>
					{% endunless %}
				</div>
			</div>
			<div class="col-md-4 col-sm-6 footer-right">
				<span class="bottom">Stay Connected</span>
				<script type="text/javascript" src="https://www.formstack.com/forms/js.php?1640449-r9GhF2CEKq-v3&amp;jsonp"></script>
				<noscript><a href="https://www.formstack.com/forms/?1640449-r9GhF2CEKq" title="Online Form">Online Form - Constant Contact Signup Form</a></noscript>
				<div class="linkerthing" style="text-align:right; font-size:x-small;">
					<a href="http://www.formstack.com?utm_source=h&utm_medium=jsembed&utm_campaign=fa&fa=h,1640449" title="Online Form Creator">Online Form Creator</a>
				</div>
				{% include 'social-nav' %}
			</div>
		</div>
{% unless page.handle == 'fitness' %}
		<div class="copyright">
			Copyright &copy; 2014 Soundcast Systems, Inc.
		</div>
{% endunless %}
	</div><!-- Container -->

	<div class="container hidden-lg hidden-md hidden-sm visible-xs">
		<div class="row">
			<div class="col-xs-12 text-center">
				<img src="{{ 'brands.png' | asset_url}}"alt="Brands">
			</div>
		</div>
		<br/>
		{% unless page.handle == 'fitness' %}
		<div class="row">
			<div class="col-xs-12">
				<ul class="col-xs-6">
					<li><a href="/">Home</a></li>
							<li><a href="/collections/wireless-speakers">Wireless Speakers</a></li>
							<li><a href="/collections/audio-solutions">Audio Solutions</a></li>
							<li><a href="/collections/accessories">Accessories</a></li>
							<li><a href="/pages/skinit">Customize With SkinIt</a></li>


				</ul>
				<ul class="col-xs-6">

							<li><a href="/pages/about-us">About Soundcast</a></li>
							<li><a href="/blogs/blog">Blog</a></li>
							<li><a href="/pages/about-us">Careers</a></li>
							<li><a href="/pages/press">Press</a></li>
							<li><a href="/pages/reviews-news">Reviews and News</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<ul class="col-xs-6">
							<li><a href="/pages/partner-resources">Partner Resources</a></li>
							<li><a href="/pages/find-retailers">Find A Retailer</a></li>

							<li><a href="/pages/return-policy">Return Policy</a></li>
							<li><a href="/pages/privacy-policy">Privacy Policy</a></li>
							<li><a href="/pages/terms">Terms and Conditions</a></li>
				</ul>
				<ul class="col-xs-6">

					<li><a href="/cart">My Cart <span class="fa fa-shopping-cart"></span></a></li>

					<li><a href="/account/login/">Login/Register</a></li>
					<li><a href="/pages/about-us/#about_contact">Contact Us</a></li>
					<li><a href="/pages/support-all">Support</a></li>
					<li><a href="/pages/safe-buying-guide">Safe Buying Guide</a></li>
				</ul>
			</div>
		</div>
		{%endunless%}

		<div class="col-xs-12">
			<span class="bottom-sm">Stay Connected</span>
			<script type="text/javascript" src="https://www.formstack.com/forms/js.php?1640449-r9GhF2CEKq-v3&amp;jsonp"></script>
			<noscript><a href="https://www.formstack.com/forms/?1640449-r9GhF2CEKq" title="Online Form">Online Form - Constant Contact Signup Form</a></noscript>
			<div class="linkerthing" style="text-align:right; font-size:x-small;">
				<a href="https://www.formstack.com?utm_source=h&utm_medium=jsembed&utm_campaign=fa&fa=h,1640449" title="Online Form Creator">Online Form Creator</a>
			</div>
		</div>

		<div class="copyright">
			Copyright &copy; 2014 Soundcast Systems, Inc.
		</div>

	</div><!-- Container -->
</footer><!-- End of Footer -->
