<div id="Sound-Carousel" class="carousel slide">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#Sound-Carousel" data-slide-to="0" class="active"></li>
		<li data-target="#Sound-Carousel" data-slide-to="1"></li>
		<li data-target="#Sound-Carousel" data-slide-to="2"></li>
	      	<li data-target="#Sound-Carousel" data-slide-to="3"></li>
		<li data-target="#Sound-Carousel" data-slide-to="4"></li>
		<li data-target="#Sound-Carousel" data-slide-to="5"></li>
	        <li data-target="#Sound-Carousel" data-slide-to="6"></li>
        	<li data-target="#Sound-Carousel" data-slide-to="7"></li>
	</ol>
	<div class="carousel-inner">
		<div id="slide-7" class="item rel active">
			<div class="container">
				<div class="col-sm-6 text-center">
					<img class="img-responsive img-center" src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Soundcast/OrangeandWhiteShadow_zps2dbc62d2.png~original">
                    <div class="relative-div">
                      	<div class="text_block text-left">  
						  <h2 class="text-left">SOUNDCAST MELODY PRICE DROPS TO $399.99!!!</h2>
                          <p class="makeitfade-default">The Soundcast Melody--acknowledged by industry reviewers as the best-sounding Bluetooth? speaker in the world--just came down in price.</p>
                          <p class="text-center"><a href="/collections/wireless-speakers/products/melody" class="btn btn-carousel">Learn More</a></p>
                        </div>
                      	<img class="abs-img" src="{{'slider_7_banner.png'|asset_url}}">
                    </div>
				</div>
				<div class="col-sm-6 text-center">
              		<img class="img-responsive img-center img-melody" src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Soundcast/homepage_slider_melody_price_down_melody_090314-2_zps52d94339.png~original">
              	</div>
			</div>
		</div>
		<div id="slide-1" class="item rel">
<!-- 			<div class="container">
				<img class="img-responsive" src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Soundcast/Rebate/homepage_slider_bluecast_topbar_082714_zps92d34bea.png~original">
              <div class="row">
                <div class="col-xs-6 col-sm-3">
                  <a href="/pages/bluecast-rebate">
                  <img class="img-responsive" src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Soundcast/Rebate/homepage_slider_bluecast_80_082714_zps8ebe8711.png~original">
                  </a>
                </div>
                <div class="col-sm-6 hidden-xs">
                  <div class="text_block text-center">  
                    <p class="makeitfade-default" style="font-size: 150%;">Now when you purchase an OutCast or OutCast Jr. and a BlueCast Bluetooth? receiver together get $80 off instantly!</p>
                    <p class="text-center"><a href="/pages/bluecast-rebate" class="btn btn-carousel">Learn More</a></p>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <img class="img-responsive" src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Soundcast/Rebate/homepage_slider_BlueCast_product_082714_zpsd57ae82a.png~original">
                </div>
                <div class="visible-xs">
                  <div class="text_block text-center">  
                    <p class="makeitfade-default">Now when you purchase an OutCast or OutCast Jr. and a BlueCast Bluetooth? receiver together get $80 off instantly!</p>
                    <p class="text-center"><a href="/pages/bluecast-rebate" class="btn btn-carousel">Learn More</a></p>
                  </div>
                </div>
              </div>
			</div> -->
          	<div class="container">
				
              <div class="row">
                <div class="col-sm-8">
                  <img class="img-responsive" src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Soundcast/Rebate/homepage_slider_bluecast_topbar_082714_zps92d34bea.png~original">
                  <div class="col-sm-6"><a href="/pages/bluecast-rebate">
                  <img class="img-responsive" src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Soundcast/Rebate/homepage_slider_bluecast_80_082714_zps8ebe8711.png~original">
                  </a></div>
                  <div class="col-sm-6"><div class="text_block text-center">  
                    <p class="makeitfade-default" style="font-size: 150%;">Now when you purchase an OutCast or OutCast Jr. and a BlueCast Bluetooth? receiver together get $80 off instantly!</p>
                    <p class="text-center"><a href="/pages/bluecast-rebate" class="btn btn-carousel">Learn More</a></p>
                  </div></div>
                </div>
                <div class="col-sm-4">
                  <img class="img-responsive" src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Soundcast/Rebate/homepage_slider_BlueCast_product_082714_zpsd57ae82a.png~original">
                </div>
              </div>
			</div>
          	
		</div>
      <div id="slide-6" class="item rel">
			<div class="container">
              	<div class="row">
                  <div class="col-sm-4">
                    <img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Soundcast/melody_logo_400x200_zps63bf55fc.png~original" class="img-responsive"/>
                  </div>
              	</div>
              <div class="row">
                <div class="col-sm-9">
              		<div class="text_block text-left">
						
						<h2 class="makeitfade-default text-left">The most highly-decorated Bluetooth®  speaker on the market.</h2>
                      <p><a href="/pages/reviews-news" class="btn btn-carousel">Learn More</a></p>
					</div>
                </div>
              </div>
              <!--<div class="row">
                  <div class="col-sm-9">
                    <img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Soundcast/themosthighlydecoratedbluetoothspeakeronthemarket_zpsd4267ba8.png~original" class="img-responsive"/>
                  </div>
              </div>-->
              <br>
              <div class="row">
                  <div class="col-sm-9">
                    <img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Soundcast/melodyawards_zps82162bdf.png~original" class="img-responsive"/>
                  </div>
              </div>
			  <br>
              <br>
            </div>
		</div>
      	{%comment%}
		  <div id="slide-4" class="item rel">
			<div class="container">
				<div class="col-md-3 hidden-xs">
					<div class="abs img-1">
						{{ 'melody1.png' | asset_url | img_tag: '', '' }}
					</div>
				</div>
				<div class="col-md-9 text-box">
					<div class="text_block">
						<h2 class="about-pic text-left">Meet Melody – Wireless, Powerful & Amazing Portable Sound</h2>
						<p class="makeitfade-default">Our lightest, yet powerful, weather-resistant Bluetooth® HD speaker with over 20 hours of battery life.</p>
						<p><a href="/collections/wireless-speakers/products/melody" class="btn btn-carousel text-center">Learn More</a></p>
					</div>
				</div>
			</div>
		</div>
      {%endcomment%}
		<div id="slide-2" class="item rel more">
			<div class="container">
				<div class="col-md-6 col-sm-6 text-box">
					<div class="text_block">
					<h2 class="about-pic text-left">OutCast Jr. – Be the Life of Every Event</h2>
					<p class="makeitfade-default">OutCast Jr. is perfect for anyone that needs powerful sound, Bluetooth® HD, and portability all-in-one. This is the ultimate weather-resistant speaker for parties on the go!</p>
					<a href="http://www.gosoundcast.com/products/outcast-jr-bluetooth-hd" class="btn btn-carousel">Learn More</a>
				</div>
				</div>
				<div class="col-md-6 col-sm-6 text-left hidden-xs">
					<div class="">
                      <img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Soundcast/homepage_slider_outcast_jr_072514_zpsf0eff4b1.png~original" class="img-responsive"/>
					</div>
				</div>
			</div>
		</div>
		<div id="slide-3" class="item rel more">
			<div class="container">
				<div class="col-md-3 col-sm-4 hidden-xs">
					<div class="abs img-3">
						{{ 'OutCast3.png' | asset_url | img_tag: '', '' }}
					</div>
				</div>
				<div class="col-md-9 col-sm-7 text-box">
					<div class="text_block">
						<h2 class="about-pic">OutCast – The Loudest Weather-Resistant Outdoor Speaker</h2>
						<p class="makeitfade-default"> OutCast is our loudest speaker package, yet. Play 360º of powerful sound as you stream Bluetooth® HD for convenience or reach up to 300ft range.</p>
						<a href="http://www.gosoundcast.com/products/outcast-bluetooth-hd" class="btn btn-carousel">Learn More</a>
					</div>
				</div>
			</div>
		</div>
 		
		<div id="slide-5" class="item rel more">
			<div class="container">
				<div class="col-md-9 col-sm-9 text-box">
					<div class="text_block">
						<h2 class="about-pic text-center">Rock Your Tailgate Party All Gameday Long, Rain or Shine.</h2>
						<p class="makeitfade-default">Skin OutCast and OutCast Jr. with your choice of custom wrap. Pick from thousands of designs, pro and college sports teams, or create your own!</p>
						<p><a href="/pages/skinit" class="btn btn-carousel text-center">Learn More</a></p>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 hidden-xs">
					<div class="abs img-5">
						{{ 'skinit.png' | asset_url | img_tag: '', '' }}
					</div>
				</div>
			</div>
		</div>
      
      <div id="slide-8" class="item rel more">
			<div class="container">
				<div class="col-md-6 col-sm-6 text-box sliderhome2">
					<div class="text_block  ">
						<h2 class="about-pic text-left">Blow Away The Competition!</h2>
						<p class="makeitfade-default">With the powerful sound of your personalized OutCast or OutCast Jr. Pick your favorite NFL or college team from SkinIt® and rock your tailgate party at the next 
                          game!</p>
						
                      <a href="/pages/" class="btn btn-carousel">Learn More</a>
					</div>
				</div>

			</div>
		</div>
      
       <div id="slide-9" class="item rel more">
			<div class="container">
               <div class="col-md-6 col-sm-6 text-box sliderhome3">
					<div class="text_block">
						<h2 class="about-pic text-left">Now You Can Play The Same Music Inside and Out!</h2>
						<p class="makeitfade-default">Experience "Connected Sound when you blend Soundcast and Sonos".</p>
                      <a href="/pages/" class="btn btn-carousel">Learn More</a>
					</div>
				</div>
                </div> 
			</div>
		

   </div><!-- carousel-inner -->
	<a class="left carousel-control visible-md visible-lg visible-sm" href="#Sound-Carousel" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="right carousel-control visible-md visible-lg visible-sm" href="#Sound-Carousel" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div><!-- END: #Sound-Carousel -->