<section id="intro-section" class="page-section">
					<header class="section-header clearfix">
						<h1 class="section-title">Brand Guidelines</h1>
					</header><!-- /.section-header -->
					<div class="section-body">
						<p class="lead">Dear Soundcast Partner,</p>
						<p class="lead">As we embark on the launch of a new generation of products beginning with Melody, we have decided to elevate the quality of our marketing and branding initiatives. We want to ensure that our consumer brand reflects our standard for superior sound. With this in mind, we’ve embraced the challenge of directly engaging our ultimate consumer in order to build awareness, interest and excitement around our mission.</p>
						<p class="lead">Melody offers a sophisticated and fresh approach to the portable music industry. Through this product, we hope to share our passion for music and quality sound with music-lovers everywhere. Sporting sleek design and incredible performance on all levels, Melody is already creating waves worldwide.</p>
						<p class="lead">Working together with an award-winning marketing and brand communications agency, we’ve developed a unique identity and persona for Melody, our latest Bluetooth&reg; HD wireless speaker. Our process entailed competitive research, consumer interviews and behavioral analysis. This brand guide reveals our research findings and guidelines for our new brand. At the highest level, Melody stands for the freedom to “go places,” “musicality,” and “quality.”</p>
						<p class="lead">Our brand strategy for Melody marks the beginning of a series of new marketing and brand initiatives that will take place at Soundcast in the coming months.</p>
						<p class="lead">As you examine this document you will find detailed information, examples and specifications for implementing the Melody by Soundcast brand within your organization for both print and electronic mediums. We encourage you to take these guidelines as inspiration to represent and express the spirit of Melody to your customers, family, and friends.</p>
						<p class="lead">Cordially,<br/><strong>Mike Weaver, President</strong></p>
					</div>
				</section>