				<section id="brand_download" class="sidebar-section">
					<header class="section-header clearfix">
						<h1 class="section-title">Melody Brand Guide</h1>
					</header><!-- /.section-header -->
					<div class="section-body">
						<div class="text-center">
							<a class="link-wrapper" href="http://cdn.gosoundcast.com/partner_resources/Soundcast-Melody-Brand-Guide-Final-lr.pdf">
								<img class="img-thumbnail" src="http://cdn.gosoundcast.com/partner_resources/resources/Melody-Guide.png">
								<p>Download</p>
							</a>
						</div>
					</div>
				</section>
