<header class="header-nav">
	<nav>
		<ul class="line-nav clearfix">
			<li class="nav-link nav-link-1"><a href="#resources-general">Logo/Fonts</a></li>
          	<li class="nav-link nav-link-1"><a href="#resources-demo">Demo Track</a></li>
			<li class="nav-link nav-link-2"><a href="#resources-melody">Melody</a></li>
			<li class="nav-link nav-link-3"><a href="#resources-outcast">OutCast</a></li>
			<li class="nav-link nav-link-4"><a href="#resources-outcastjr">OutCast Jr.</a></li>
			<li class="nav-link nav-link-5"><a href="#resources-icast">iCast</a></li>
			<li class="nav-link nav-link-6"><a href="#resources-uat">UAT</a></li>
			<li class="nav-link nav-link-7"><a href="#resources-surroundcast">SurroundCast</a></li>
			<li class="nav-link nav-link-8"><a href="#resources-subcast">SubCast</a></li>
		</ul>
	</nav>
</header>



