
<!-- START: #news -->
<div id="news">
	<div class="container">
		<br />
		<header class="section-header makeitfade-default">
			<h1 class="section-title">Reviews</h1>
		</header>
		<br />
		<div id="review-block">
			<div class="row">
				<div class="col-sm-3 text-center">
					<a href="http://www.soundandvision.com/content/soundcast%E2%80%99s-melody-makes-music-round-anywhere" target="_blank">
						<p>"Soundcast’s Melody has set a new, audaciously high standard for portable Bluetooth® HD speakers."</p>
						<div class="reviewlogo-wrapper reviewlogo-wrapper-1">
							<img class="img-responsive" src="http://cdn.gosoundcast.com/home-logos/1.jpg"  alt="Cn015">
						</div>
					</a>
				</div>
				<div class="col-sm-3 text-center">
					<a href="http://www.pcmag.com/article2/0,2817,2426610,00.asp" target="_blank">
						<p>"The Melody wireless Bluetooth® HD speaker delivers excellent, powerful audio performance."</p>
						<div class="reviewlogo-wrapper reviewlogo-wrapper-2">
							<img class="img-responsive" src="http://cdn.gosoundcast.com/home-logos/2.png"  alt="Gizmodo Logo">
						</div>
					</a>
				</div>
				<div class="col-sm-3 text-center">
					<a href="http://m.huffpost.com/us/entry/4345157" target="_blank">
						<p>"From treble to bass, this Bluetooth® HD system reproduced sounds that were clean and crisp.”</p>
						<div class="reviewlogo-wrapper reviewlogo-wrapper-3">
							<img class="img-responsive" src="http://cdn.gosoundcast.com/home-logos/3.jpg"  alt="Sound And Vision New">
						</div>
					</a>
				</div>
				<div class="col-sm-3 text-center">
					<a href="http://www.wired.com/gadgetlab/2013/09/ifa-gallery/#slideid-192681" target="_blank">
						<p>"When the situation calls for truly big sound, you'll want something more like Soundcast's Melody.” </p>
						<div class="reviewlogo-wrapper reviewlogo-wrapper-4">
							<img class="img-responsive" src="http://cdn.gosoundcast.com/home-logos/7.jpg">
						</div>
					</a>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-sm-3 text-center">
					<a href="http://www.trulynet.com/10402/Gadgets/soundcast-melody-outcast-bluecast-superior-all-weather-bluetooth-audio-system/" target="_blank">
						<p>“The best-sounding portable outdoors-friendly sound system that we've yet tested.”</p>
						<div class="reviewlogo-wrapper reviewlogo-wrapper-5">
							<img class="img-responsive" src="http://cdn.gosoundcast.com/home-logos/5.jpg">
						</div>
					</a>
				</div>
				<div class="col-sm-3 text-center">
					<a href="http://www.digitaltrends.com/wireless-speaker-reviews/soundcast-melody-review/#/1" target="_blank">
						<p>“In a market increasingly cluttered with outdoor-ready, portable speakers, the Soundcast Melody stands out.”</p>
						<div class="reviewlogo-wrapper reviewlogo-wrapper-6">
							<img class="img-responsive" src="http://cdn.gosoundcast.com/home-logos/6.jpg">
						</div>
					</a>
				</div>
				<div class="col-sm-3 text-center">
					<a href="http://stereos.about.com/od/Wireless/fl/Soundcast-Systems-Melody-Bluetooth-Outdoor-Speaker-Review.htm" target="_blank">
					<p>"There's one word that describes the Melody's sound: robust...The sound is gratifyingly full, always.”</p>
					<div class="reviewlogo-wrapper reviewlogo-wrapper-7">
						<img class="img-responsive" src="http://cdn.gosoundcast.com/home-logos/4.jpg" alt="Wired Logo">
					</div>
					</a>
				</div>
				<div class="col-sm-3 text-center">
					<a href="http://www.tomsguide.com/us/soundcast-melody-bluetooth-speaker,review-1935.html" target="_blank">
						<p>"It outperforms every other portable Bluetooth® HD speaker we've heard so far.”</p>
						<div class="reviewlogo-wrapper reviewlogo-wrapper-8">
							<img class="img-responsive" src="http://cdn.gosoundcast.com/home-logos/8.jpg">
						</div>
					</a>
				</div>
			</div>
		</div>
		<br />
	</div>
	<div class="section-subheading">
		<a href="/pages/reviews-news/" type="button" class="btn btn-default">Read all Reviews & News <span class="fa fa-caret-right"></span>
		</a>
	</div>
	<br />
</div><!-- END: #news -->