
				<section id="intro-section" class="page-section">
					<header class="section-header clearfix">
						<h1 class="section-title text-left">Welcome Press</h1>
					</header><!-- /.section-header -->
				</section>
				<div class="welcome-blurd">
					<h4>Take a look at our latest news and downloadable assets below, or jump straight to the section you're looking for.</h4>
				</div>


<br />
		<div class="container">
			<div class="row text-left">
				<nav>
				    <a class="link" href="#press-release">PRESS RELEASES <span class="fa fa-caret-right"></span></a>
				    <a class="link" href="#press-photo"> PHOTOS & LOGOS <span class="fa fa-caret-right"></span></a>
				    <a class="link" href="#press-video"> VIDEOS <span class="fa fa-caret-right"></span></a>
				    <a class="link" href="#press-about"> ABOUT <span class="fa fa-caret-right"></span></i></a>
				</nav>
			</div>
		</div>
