<div id="press-about"></div>
<section id="intro-section" class="page-section">
	<header class="section-header clearfix">
		<h1 class="section-title text-left">About Us</h1>
	</header><!-- /.section-header -->
</section>

	<p>In the early 2000s, the founders of one of America’s largest and oldest audio and speaker manufacturers launched Soundcast. Their vision? Develop reliable, high-performance wireless audio products that deliver the ultimate in sound quality and work seamlessly with any lifestyle.</p>
	<p>With a history of building top-quality products for industry leaders for nearly 40 years, in 2006 Soundcast visionaries unveiled the award-winning OutCast portable music system. OutCast proved that high-quality wireless sound could be achieved in a portable speaker, setting the worldwide benchmark for the future of wireless audio.</p>
	<p>After years of experience and acclaim, Soundcast debuts Melody, the “Take Anywhere, Everywhere” wireless Bluetooth® speaker. Another award-winning product, Melody proves that Soundcast continues as a pace setter for wireless audio technology and innovation.</p>

	<p>Proudly Designed and Engineered in the USA.</p>
	<div id="press-release"></div>
<br>