
	<div class="section-body">
		<ul class="row retailer-types clearfix">
			<li class="col-sm-4 retailer-type text-center">
				<header class="type-header clearfix">
					<h1>Full Line Retailer</h1>
					<img class="img-thumb" src="http://cdn.gosoundcast.com/local-retailer/Icon-fullline-dealer-2.png">
				</header><!-- type-header -->
				<div class="type-body">
					<p>Carries the full line of Soundcast products available for demonstration during normal retail walk-in hours.</p>
				</div><!-- type-body -->
			</li>
			<li class="col-sm-4 retailer-type text-center">
				<header class="type-header clearfix">
					<h1>Melody Retailer</h1>
					<img class="img-thumb" src="http://cdn.gosoundcast.com/local-retailer/Icon-melody-dealer-2.png">
				</header><!-- type-header -->
				<div class="type-body">
					<p>Carries the Melody products available for demonstration during normal retail walk-in hours.</p>
				</div><!-- type-body -->
			</li>
			<li class="col-sm-4 retailer-type text-center">
				<header class="type-header clearfix">
					<h1>Specialty Retailer</h1>
					<img class="img-thumb" src="http://cdn.gosoundcast.com/local-retailer/Icon-specialty-dealer-2.png">
				</header><!-- type-header -->
				<div class="type-body">
					<p>Offers Soundcast products for sale. These dealers may not have normal retail walk-in hours, call ahead.</p>
				</div><!-- type-body -->
			</li>
		</ul>
	</div><!-- /.section-body -->