<secion id="videos">
		<br />
		<br />
			<div class="container hidden-xs">
				<div class="row">
					<div class="section-subheading-support">
						<h1 class="section-title">Video Reviews</h1>
					</div>
					<hr /></div>
					<div class="row">
						<div class="col-md-4 col-sm-4"><a href="https://www.youtube.com/watch?v=M4SQ3zb296Q" rel="prettyPhoto" target="_blank"><img class="img-responsive" src="http://cdn.gosoundcast.com/media-press/video_screenshots/geekbeat.jpg" alt="" /></a></div>
						<div class="col-md-4 col-sm-4"><a href="https://www.youtube.com/watch?v=LjiRnGlSSA8" rel="prettyPhoto"><img class="img-responsive" src="http://cdn.gosoundcast.com/media-press/video_screenshots/newswatch.jpg" alt="" /></a></div>
						<div class="col-md-4 col-sm-4"><a title="" href="https://www.youtube.com/watch?v=uOG1JaZQUsY" rel="prettyPhoto"><img class="img-responsive" src="http://cdn.gosoundcast.com/media-press/video_screenshots/NbucketTV.jpg" alt="" /></a></div>
					</div>
					<br />
					<div class="row" style="margin-bottom: 20px;">
						<div class="col-md-4 col-sm-4"><a title="" href="https://www.youtube.com/watch?v=0jtWVCPUR64&amp;feature=c4-overview-vl&amp;list=PLD608B2290DF5175D" rel="prettyPhoto"><img class="img-responsive" src="http://cdn.gosoundcast.com/media-press/video_screenshots/cbs.jpg" alt="" /></a></div>
						<div class="col-md-4 col-sm-4"><a title="" href="https://www.youtube.com/watch?v=6vFkXPKU8sI" rel="prettyPhoto"><img class="img-responsive" src="http://cdn.gosoundcast.com/media-press/video_screenshots/fox.jpg" alt="" /></a></div>
						<div class="col-md-4 col-sm-4"><a title="" href="https://www.youtube.com/watch?v=0Fgvkylz1MY&amp;feature=c4-overview-vl&amp;list=PL39u5ZEfYDEMIzP3zXFwFWywBE3Cuc8xx" rel="prettyPhoto"><img class="img-responsive" src="http://cdn.gosoundcast.com/media-press/video_screenshots/theverge.jpg" alt="" /></a></div>
					</div>
					<div class="row">
						<div class="col-md-4 text-center"><a title="" href="https://www.youtube.com/watch?v=S-lGHg7ZcC0" rel="prettyPhoto" target="_blank"><img class="img-thumbnail" src="http://cdn.gosoundcast.com/media-press/video_screenshots/melody-review.jpg" alt="" /></a></div>
					</div>
				</div>

				<div class="container visible-xs">
					<div class="row">
						<div class="section-subheading-support">
							<h1 class="section-title">Video Reviews</h1>
						</div>
						<hr />
					</div>
					<div class="row">
						<div class="col-xs-12 text-center"><a title="" href="https://www.youtube.com/watch?v=M4SQ3zb296Q" rel="prettyPhoto"><img class="img-thumbnail" src="http://cdn.gosoundcast.com/media-press/video_screenshots/geekbeat.jpg" alt="" /></a></div>
						<div class="col-xs-12 text-center"><a title="" href="https://www.youtube.com/watch?v=LjiRnGlSSA8" rel="prettyPhoto"><img class="img-thumbnail" src="http://cdn.gosoundcast.com/media-press/video_screenshots/newswatch.jpg" alt="" /></a></div>
						<div class="col-xs-12 text-center"><a title="" href="https://www.youtube.com/watch?v=uOG1JaZQUsY" rel="prettyPhoto"><img class="img-thumbnail" src="http://cdn.gosoundcast.com/media-press/video_screenshots/NbucketTV.jpg" alt="" /></a></div>
					</div>
					<div class="row">
						<div class="col-xs-12 text-center"><a title="" href="https://www.youtube.com/watch?v=0jtWVCPUR64&amp;feature=c4-overview-vl&amp;list=PLD608B2290DF5175D" rel="prettyPhoto" target="_blank"><img class="img-thumbnail" src="http://cdn.gosoundcast.com/media-press/video_screenshots/cbs.jpg" alt="" /></a></div>
						<div class="col-xs-12 text-center"><a title="" href="https://www.youtube.com/watch?v=6vFkXPKU8sI" rel="prettyPhoto" target="_blank"><img class="img-thumbnail" src="http://cdn.gosoundcast.com/media-press/video_screenshots/fox.jpg" alt="" /></a></div>
						<div class="col-xs-12 text-center"><a title="" href="https://www.youtube.com/watch?v=0Fgvkylz1MY&amp;feature=c4-overview-vl&amp;list=PL39u5ZEfYDEMIzP3zXFwFWywBE3Cuc8xx" rel="prettyPhoto" target="_blank"><img class="img-thumbnail" src="http://cdn.gosoundcast.com/media-press/video_screenshots/theverge.jpg" alt="" /></a></div>
					</div>
					<div class="row">
						<div class="col-xs-12 text-center"><a title="" href="https://www.youtube.com/watch?v=S-lGHg7ZcC0" rel="prettyPhoto" target="_blank"><img class="img-thumbnail" src="http://cdn.gosoundcast.com/media-press/video_screenshots/melody-review.jpg" alt="" /></a></div>
					</div>
				</div>
			</secion><!--third-->