<section id="designs-section" class="page-section">
		<div class="container">
			<header class="section-header clearfix">
				<h1 class="section-title">Choose from Thousands of Designs</h1>
				<div class="section-nav visible-xs">
					<nav></nav>
				</div><!-- /.section-nav -->
			</header><!-- /.section-header -->

			<div class="section-body">
				<div class="row">
					<div class="design col-xs-4 col-sm-2">
						<div class="image-wrapper">
							<img src="http://cdn.gosoundcast.com/skinit/example-skins-1.png" alt="" class="img-responsive">
						</div>
					</div>
					<div class="design col-xs-4 col-sm-2">
						<div class="image-wrapper">
							<img src="http://cdn.gosoundcast.com/skinit/example-skins-2.png" alt="" class="img-responsive">
						</div>
					</div>
					<div class="design col-xs-4 col-sm-2">
						<div class="image-wrapper">
							<img src="http://cdn.gosoundcast.com/skinit/example-skins-3.png" alt="" class="img-responsive">
						</div>
					</div>
					<div class="design col-xs-4 col-sm-2">
						<div class="image-wrapper">
							<img src="http://cdn.gosoundcast.com/skinit/example-skins-4.png" alt="" class="img-responsive">
						</div>
					</div>
					<div class="design col-xs-4 col-sm-2">
						<div class="image-wrapper">
							<img src="http://cdn.gosoundcast.com/skinit/example-skins-5.png" alt="" class="img-responsive">
						</div>
					</div>
					<div class="design col-xs-4 col-sm-2">
						<div class="image-wrapper">
							<img src="http://cdn.gosoundcast.com/skinit/example-skins-1.png" alt="" class="img-responsive">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>