<section id="info-section" class="page-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-7 pull-left qa-block">
					<h2>How Does It Work?</h2>
					<ol>
						<li>Click on the Get Skins! button to visit the Skinit Website.</li>
						<li>Choose from thousands of designs or create your own.</li>
						<li>Checkout! Skins cost $49.99 + shipping for either the OutCast or OutCast Jr.</li>
					</ol>
					<h2>Skin Your OutCast or OutCast Jr. Today!<a class="btn btn-retail" href="https://www.skinit.com/pages/soundcast">Learn More...</a></h2>
				</div>
				<div class="col-xs-12 col-sm-5 pull-right support-block">
					<header>
						<h2>Support</h2>
					</header>
					<div class="block-body">
						<ul>
							<li><a target="_blank" href="http://cdn.gosoundcast.com/skinit/skinit-outcast-outcastjr-instructions.pdf"><i class="fa fa-file-text"></i> View/Download Instruction Guide</a></li>
							<li><i class="fa fa-file-text"></i> View/Download FAQ (Coming Soon)</li>
							<li><a target="_blank" href="http://youtu.be/gOon3FLiuV0"><i class="fa fa-youtube"></i> View YouTube Video</a></li>
					</div>
				</div>
			</div>
		</div>
	</section>