<section id="intro-section" class="page-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<div class="img-wrapper">
						<img src="http://cdn.gosoundcast.com/skinit/logo_kiwi.png" class="img-responsive" />
					</div>
					<h2>Personalize your OutCast or OutCast Jr</h2>
					<p>Soundcast now offers custom wraps which allow you to personalize your OutCast or OutCast Jr. in a precisely fitted "skin."</p>
					<p>Soundcast has partnered with Skinit, the industry leader in consumer personalization for electronic devices. Choose from thousands of designs including top brands in sports, entertainment, and art, as well as the Customizer&trade; tool that lets you design your own using photos, images, text, symbols and many of our designs to create entirely personalized skins.</p>
					<p>Show your passion or create something entirely new, and unique.</p>
				</div>
				<div class="col-xs-12 col-sm-8">
					<div class="img-wrapper">
						<a href="https://www.skinit.com/pages/soundcast"><img src="http://cdn.gosoundcast.com/skinit/skinit-mosiac.jpg" class="img-responsive" /></a>
					</div>
				</div>
			</div>
		</div>
	</section>