<!-- Social Section -->
<div id="social" class="page-section">
	<div class="container">
		<header class="section-header makeitfade-default">
			<h1 class="section-title">Social</h1>
		</header>
		<hr>
		<br/>
		<div class="row">
			<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
				<ul class="social-icons">
					<li>
						<a class="facebook" href="https://www.facebook.com/SoundcastSystems" target="_blank">
							<i class="fa fa-facebook fa-4x"></i>
						</a>
					</li>
					<li>
						<a class="twitter" href="https://twitter.com/gosoundcast" target="_blank">
							<i class="fa fa-twitter fa-4x"></i>
						</a>
					</li>
					<li>
						<a class="instagram" href="http://instagram.com/soundcast" target="_blank">
							<i class="fa fa-camera-retro fa-4x"></i>
						</a>
					</li>
					<li>
						<a class="pinterest" href="https://www.pinterest.com/soundcast/" target="_blank">
							<i class="fa fa-pinterest fa-4x"></i>
						</a>
					</li>
					<li>
						<a class="youtube" href="https://www.youtube.com/user/soundcastsystems" target="_blank">
							<i class="fa fa-youtube fa-4x"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- End Social -->