<br />
		<div class="container">
			<div class="row text-center">
				<nav>
				    <a class="link" href="#award">Awards |</a>
				    <a class="link" href="#reviews"> Professional Reviews |</a>
				    <a class="link" href="#videos"> Video Reviews |</a>
				    <a class="link" href="#press"> Press Contact</a>
				</nav>
			</div>
		</div>