						<div class="row">
							{% if page.handle == 'support-melody' %}
							<div class="col-sm-3 col-xs-12 text-right"><br />
								<a href="http://cdn.gosoundcast.com/docs/melody/melody_english.pdf"><button class="btn btn-support" type="button">Manual</button></a>
							</div>
							<div class="col-sm-3 col-xs-12 text-right"><br />
								<a href="/pages/melody-docs"><button class="btn btn-success" type="button">All Documents</button></a>
							</div>
							{% elsif page.handle == 'support-outcast' %}
							<div class="col-sm-3 col-xs-12 text-right"><br />
								<a href="http://cdn.gosoundcast.com/docs/outcast/OutCast-1.2-Manual-051614-lrz.pdf"><button class="btn btn-support" type="button">Manual</button></a>
							</div>
							<div class="col-sm-3 col-xs-12 text-right"><br />
								<a href="/pages/outcast-docs"><button class="btn btn-success" type="button">All Documents</button></a>
							</div>
							{% elsif page.handle == 'support-outcastjr' %}
							<div class="col-sm-3 col-xs-12 text-right"><br />
								<a href="http://70c5d3d9c7569bf4bcf7-11df018ceb91308a2f321ff34337de60.r8.cf1.rackcdn.com/docs/outcastjr/outcastjreng.pdf"><button class="btn btn-support" type="button">Manual</button></a>
							</div>
							<div class="col-sm-3 col-xs-12 text-right"><br />
								<a href="/pages/outcastjr-docs"><button class="btn btn-success" type="button">All Documents</button></a>
							</div>
							{% elsif page.handle == 'support-bluecast' %}
							<div class="col-sm-3 col-xs-12 text-right"><br />
								<a href="http://cdn.gosoundcast.com/docs/bluecast/BlueCast Manual 062513 US-ES.pdf"><button class="btn btn-support" type="button">Manual</button></a>
							</div>
							<div class="col-sm-3 col-xs-12 text-right"><br />
								<a href="/pages/bluecast-docs"><button class="btn btn-success" type="button">All Documents</button></a>
							</div>
							{% elsif page.handle == 'support-icast' %}
							<div class="col-sm-3 col-xs-12 text-right"><br />
								<a href="http://cdn.gosoundcast.com/docs/icast/transownersman.pdf"><button class="btn btn-support" type="button">Manual</button></a>
							</div>
							<div class="col-sm-3 col-xs-12 text-right"><br />
								<a href="/pages/icast-docs"><button class="btn btn-success" type="button">All Documents</button></a>
							</div>
							{% elsif page.handle == 'support-surround' %}
							<div class="col-sm-3 col-xs-12 text-right"><br />
								<a href="http://www.gosoundcast.com/docs/surroundcast/surroundcastquick.pdf"><button class="btn btn-support" type="button">Manual</button></a>
							</div>
							<div class="col-sm-3 col-xs-12 text-right"><br />
								<a href="/pages/surround-docs"><button class="btn btn-success" type="button">All Documents</button></a>
							</div>
							{% elsif page.handle == 'support-uat' %}
							<div class="col-sm-3 col-xs-12 text-right"><br />
								<a href="http://cdn.gosoundcast.com/docs/uat/uateng.pdf"><button class="btn btn-support" type="button">Manual</button></a>
							</div>
							<div class="col-sm-3 col-xs-12 text-right"><br />
								<a href="/pages/uat-docs"><button class="btn btn-success" type="button">All Documents</button></a>
							</div>
							{% elsif page.handle == 'support-subcast' %}
							<div class="col-sm-3 col-xs-12 text-right"><br />
								<a href="http://cdn.gosoundcast.com/docs/subcast/subcast_eng.pdf"><button class="btn btn-support" type="button">Manual</button></a>
							</div>
							{% endif %}
						</div>