		<div id="bottom_support" class="row">
			<div id="blurb" class="jumbotron col-md-6">
				<p>We here at Soundcast pride ourselves in the workmanship and quality of our products, and are dedicated to the support of those products and our customers. If you are experiencing issues with one of the products we offer, or are interested in researching our products before buying, we invite you to review the materials here to find your answers, or reach out to us and we will gladly assist. We thank you for your support and look forward to providing you with the best possible experience that we can offer.</p>
			</div>
			<div class="contact-us col-md-6">
				<div class="section-heading makeitfade-default">Contact Us!</div>
				<div class="container"><hr />
					<div class="row">
						<div class="col-sm-6 col-xs-6">
							<p class="lead">Call Us</p>
						</div>
						<div class="col-sm-6 col-xs-6">
							<p class="lead">619-591-0126<br />800-722-1293 (Toll-Free)</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 col-xs-6">
							<p class="lead">Send Us A Message</p>
						</div>
						<div class="col-sm-6 col-xs-6">
							<p class="lead"><a href="mailto:info@goSoundcast.com">support@goSoundcast.com</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
