				<div class="col-md-6 col-sm-6 col-xs-12">
					{% if page.handle == 'support-melody' %}
					<img class="img-responsive shadow" src="http://cdn.gosoundcast.com/Products/support/Melody_450x250.jpg" alt="melody" />
					{% elsif page.handle == 'support-outcast' %}
					<img class="img-responsive shadow" src="http://cdn.gosoundcast.com/Products/support/outcast_450x250.jpg" alt="melody" />
					{% elsif page.handle == 'support-outcastjr' %}
					<img class="img-responsive shadow" src="http://cdn.gosoundcast.com/Products/support/Outcast_Jr._450x250.jpg" alt="melody" />
					{% elsif page.handle == 'support-bluecast' %}
					<img class="img-responsive shadow" src="http://cdn.gosoundcast.com/Products/support/bluecast_450x250.jpg" alt="melody" /><br>
					{% elsif page.handle == 'support-icast' %}
					<img class="img-responsive shadow" src="http://cdn.gosoundcast.com/Products/support/icast_450x250.jpg" alt="melody" />
					{% elsif page.handle == 'support-surround' %}
					<img class="img-responsive shadow" src="http://cdn.gosoundcast.com/Products/support/Surround_Cast_1x_450x250.jpg" alt="melody" />
					{% elsif page.handle == 'support-uat' %}
					<img class="img-responsive shadow" src="http://cdn.gosoundcast.com/Products/support/uta_450x250.jpg" alt="melody" />
					{% elsif page.handle == 'support-subcast' %}
					<img class="img-responsive shadow" src="http://cdn.gosoundcast.com/Products/support/subcast_450x250.jpg" alt="melody" />
					{% endif %}
				</div>
