<div class="section-subheading-support pull-left">Contact Us!</div>
					<br /><hr />
					<div class="row">
						<div class="col-xs-6">
							<p class="lead">Call Us!</p>
						</div>
						<div class="col-xs-6">
							<p class="lead">619-591-0126</p>
							<p class="lead">800-722-1293 (Toll-Free)</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<p class="lead">Send Us A Message!</p>
						</div>
						<div class="col-xs-6">
							<p class="lead">support@goSoundcast.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>