<div class="row">
	<div id="select" class="text-center">
		<div class="section-heading makeitfade-default">Select Your Product</div>
			<hr />
	</div>
</div>

<div class="hidden-xs">
			<div class="row">
				<div class="col-md-3 col-sm-3"><a href="/pages/support-melody"><img src="http://cdn.gosoundcast.com/Products/support/melody.jpg" alt="Melody" /></a></div>
				<div class="col-md-3 col-sm-3"><a href="/pages/support-outcast"><img src="http://cdn.gosoundcast.com/Products/support/outcast.jpg" alt="OutCast" /></a></div>
				<div class="col-md-3 col-sm-3"><a href="/pages/support-outcastjr"><img src="http://cdn.gosoundcast.com/Products/support/outcast_JR.jpg" alt="OutCast Jr." /></a></div>
				<div class="col-md-3 col-sm-3"><a href="/pages/support-bluecast"><img src="http://cdn.gosoundcast.com/Products/support/bluecast.jpg" alt="Bluecast" /></a></div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-3"><a href="/pages/support-uat"><img src="http://cdn.gosoundcast.com/Products/support/uat.jpg" alt="UAT" /></a></div>
				<div class="col-md-3 col-sm-3 col-xs-3"><a href="/pages/support-icast"><img src="http://cdn.gosoundcast.com/Products/support/icast.jpg" alt="iCast" /></a></div>
				<div class="col-md-3 col-sm-3 col-xs-3"><a href="/pages/support-surround"><img src="http://cdn.gosoundcast.com/Products/support/surroundcast.jpg" alt="Surround Cast" /></a></div>
				<div class="col-md-3 col-sm-3 col-xs-3"><a href="/pages/support-subcast"><img src="http://cdn.gosoundcast.com/Products/support/subcast.jpg" alt="SubCast" /></a></div>
			</div>
		</div>
		<div class="visible-xs">
			<div class="row">
				<div class="col-xs-12 text-center"><a href="/pages/support-melody"><img src="http://cdn.gosoundcast.com/Products/support/melody.jpg" alt="Melody" /></a></div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center"><a href="/pages/support-outcast"><img src="http://cdn.gosoundcast.com/Products/support/outcast.jpg" alt="OutCast" /></a></div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center"><a href="/pages/support-outcastjr"><img src="http://cdn.gosoundcast.com/Products/support/outcast_JR.jpg" alt="OutCast Jr." /></a></div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center"><a href="/pages/support-bluecast"><img src="http://cdn.gosoundcast.com/Products/support/bluecast.jpg" alt="Bluecast" /></a></div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center"><a href="/pages/support-uat"><img src="http://cdn.gosoundcast.com/Products/support/uat.jpg" alt="UAT" /></a></div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center"><a href="/pages/support-icast"><img src="http://cdn.gosoundcast.com/Products/support/icast.jpg" alt="iCast" /></a></div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center"><a href="/pages/support-surroundcast"><img src="http://cdn.gosoundcast.com/Products/support/surroundcast.jpg" alt="Surround Cast" /></a></div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center"><a href="/pages/support-subcast"><img src="http://cdn.gosoundcast.com/Products/support/subcast.jpg" alt="SubCast" /></a></div>
			</div>
		</div>
	</div>
</div>
<br><br>