<!--Unboxed Section -->
<div id="unboxed" class="page-section">
	<div class="container">
		<div class="unboxed-right col-md-6 col-sm-6 col-xs-12">
			<header class="section-header">
				<h1 class="section-title">Unboxed</h1>
			</header>
			<div class="unboxed-description col-sm-offset-3 text-left">
				<ul>
					<li>
						<p>3.5mm Mini Jack Cable</p>
					</li>
					<li>
						<p>Micro USB Charging Cord and Power Supply </p>
					</li>
					<li>
						<p>12-Volt Automotive Adapter</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="unboxed-left col-md-6 col-sm-6 col-xs-12 pull-left">
			<img class="img-responsive about-pic" src="{{'unboxed.jpg' | asset_url}}">
		</div>
	</div>
</div>