{% layout settings.customer_layout %}



            <div id="page-body">
                <div class="container">
    <div id="account" class="account-login">
        <div class="section-heading">
            <h1>Login or Create an Account</h1>
        </div>
        <hr>



            <div class="row">
                <div class="col-sm-6 col-xs-12 new-users">
                    <div class="content">
                        <h2>New Customers</h2>
                        <p class="lead">By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                    </div>

                    <div class="buttons-set">
                        <button type="button" title="Create an Account" class="button" onclick="window.location='/account/register';"><span><span>Create an Account</span></span></button>
                    </div>


                    <div class="row">

                      {% if shop.checkout.guest_login %}
                      <div id="guest" class="col-sm-5">
                        <h2>Guest Login</h2>
                        {% form 'guest_login' %}
                       <div class="buttons-set">
                        <button type="button" title="Continue As Guest" class="button"><span><span>Continue As Guest</span></span></button>
                    </div>

                        {% endform %}
                      </div>
                      {% endif %}

                    </div>


                </div>

                <div class="col-sm-6 col-xs-12 registered-users">
                    <div class="content">
                        <h2>Registered Customers</h2>
                        <p class="lead">If you have an account with us, please log in.</p>

                            {% form 'customer_login' %}
                            {{ form.errors | default_errors }}
                            <input type="hidden" name="checkout_url" value="/cart" />

                        <ul class="form-list">
                            <li class="row">
                                <label for="email" class="required col-sm-4 email_label_login"><em>*</em>Email Address</label>
                                <div class="input-box col-sm-8">
                                    <input type="email" value="" name="customer[email]" id="customer_email" class="input-text required-entry validate-email" title="Email Address" />
                                </div>
                            </li>
                            <li class="row">
                                <label for="pass" class="required col-sm-4 password_label_login"><em>*</em>Password</label>
                                <div class="input-box col-sm-8">
                                    <input type="password" value="" name="customer[password]" class="input-text required-entry validate-password" id="pass" title="Password" />
                                </div>
                            </li>
                        </ul>


                        <p class="required text-center">* Required Fields</p>
                    </div>
                    <div class="col-sm-6 col-xs-12 registered-users text-right">
                      <div class="buttons-set">
                          <a href="/pages/forgot-password" class="f-left">Forgot Your Password?</a>

                          </div>
                          <div id="btn-login" class="col-sm-12">
                            <button class="button" type="submit">

                            <span>
                            <span>Login </span>

                              <span class="icon-cheveron-right"></span>
                            </span>

                            </button>
                          </div>
                      </div>


                    {% endform %}


            </div>


    </div>
</div>            </div>


<script type="text/javascript">
  function showRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'block';
    document.getElementById('login').style.display='none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('login').style.display = 'block';
  }

  if (window.location.hash == '#recover') { showRecoverPasswordForm() }
</script>
