<div id="page-body">
  <div class="banner_about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <h1>Audio Solutions</h1>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="container">

{% include 'audio-solutions' %}