<br>
<div id="page-body">
	<div class="container">
		<div class="col-sm-4">

			<div class="coupon-box">

				<h2 class="coupon-org text-center gothic">A Special Offer from</h2>

				<div class="row hidden-sm">
					<div class="col-sm-6 col-xs-12 text-center">
						<img src='http://i1370.photobucket.com/albums/ag251/anthroisphoto/Soundcast/Soundcast-logo-color-2011_zps7c790b89.png' class="img-thumbnail"/>
					</div>
					<div class="gothic col-sm-1 text-center col-xs-12 coupon-org font18 padding-top5"> &</div>
					<div class="col-sm-5 col-xs-12 text-center">
						<img src='http://i1370.photobucket.com/albums/ag251/anthroisphoto/Soundcast/SunBriteTVLogoBlackReg_blkTagline_zpsedf5148a.png' class="img-thumbnail"/>
					</div>
				</div>

				<div class="row visible-sm">
					<div class="col-sm-12 text-center">
						<img src='http://i1370.photobucket.com/albums/ag251/anthroisphoto/Soundcast/Soundcast-logo-color-2011_zps7c790b89.png' class="img-thumbnail"/>
					</div>
					<div class="gothic col-sm-112 text-center coupon-org font18 padding-top5"> &</div>
					<div class="col-sm-12 text-center">
						<img src='http://i1370.photobucket.com/albums/ag251/anthroisphoto/Soundcast/SunBriteTVLogoBlackReg_blkTagline_zpsedf5148a.png' class="img-thumbnail"/>
					</div>
				</div>



				<div class="row text-center">
					<h1 class="text-center gothic coupon-org font60 margin-btm0 hidden-sm">SAVE UP TO</h1>
					<h1 class="text-center gothic coupon-org font50 margin-btm0 visible-sm">SAVE UP TO</h1>
					<h1 class="blue text-center gothic font140 margin-tb0 hidden-sm">$300</h1>
					<h1 class="blue text-center gothic font120 margin-tb0 visible-sm">$300</h1>
					<p class="coupon-org gothic font20 text-center hidden-sm">When you purchase a Soundcast<br> OutCast or OutCast Jr. speaker with a <br> Signature/Pro model SunbriteTV!</p>
					<p class="coupon-org gothic font10 text-center visible-sm">When you purchase a Soundcast<br> OutCast or OutCast Jr. speaker with a <br> Signature/Pro model SunbriteTV!</p>
				</div>

				<div class="row text-center">
					<a class="btn btn-primary blue-bg text-center arial font14" href="http://cdn.gosoundcast.com/Soundcast-Rebate-Coupon.pdf" target="_blank">Download Instant <br> Rebate Coupon Now! </a>
				</div>

			</div>
			<br>

			<p class="arial font18 line28">Looking to create the ultimate backyard
				oasis? You’ve come to the right place!
				Soundcast and SunBriteTV are leading
				innovators in outdoor entertainment,
				bringing you the best in audio and
				television for your backyard, patio or
				any outdoor living space. With robust
				weather resistant designs and seamless
				integration between the two product
				lines, you can watch and listen to your
				favorite games, shows, or music all
				while grilling, socializing, or just enjoying
				the beautiful outdoors! For a limited
				time (5/1-6/30), get up to $300 cash
				back when you team up Soundcast and
				SunBriteTV to liven up your party!</p>
		</div>

				<div class="visible-xs col-xs-12">
					<h4 class="font18 arial">How it works</h4>
					<ol class="font18 arial padding-left15">
						<li>Purchase a Soundcast OutCast or OutCast Jr. <br> model at an <a href="/pages/find-retailers" target="_blank">Authorized Soundcast Retailer</a> or here <br> on <a href="/" target="_blank">goSoundcast.com</a></li>
						<li>Visit <a href="http://www.sunbritetv.com/" target="_blank">SunBriteTV.com</a> to purchase online or at a retailer <br> near you (Signature and Pro models only)</li>
						<li>Fill out this <a href="http://cdn.gosoundcast.com/Soundcast-Rebate-Coupon.pdf" target="_blank">rebate coupon</a> and mail in the receipts for both <br> products by July 31, 2014</li>
						<li>Receive $300 cash back (with OutCast purchase) or $100  cash <br> back (OutCast Jr. purchase)</li>
						<li>Get ready to enjoy the beautiful summer season with your brand new <br>backyard entertainment system!</li>
					</ol>
				</div>

		<div class="col-sm-8 hidden-xs" id="coupon-image">
			<div class="row">
				<div class="col-sm-7"></div>
				<div id="blue-right" class="col-sm-5 pull-right">
					<h4 class="font30 padding-left15 padding-top15 margin-left55 open-sans white italics">Get the Perfect <br> Outdoor Combo <br>with Soundcast <br>and SunBriteTV </h4>
				</div>


				</div>
				<div class="promo-text col-sm-12 white">
					<h4 class="font18 arial">How it works</h4>
					<ol class="font12 arial padding-left15">
						<li>Purchase a Soundcast OutCast or OutCast Jr. <br> model at an <a href="/pages/find-retailers" target="_blank">Authorized Soundcast Retailer</a> or here <br> on <a href="/" target="_blank">goSoundcast.com</a></li>
						<li>Visit <a href="http://www.sunbritetv.com/" target="_blank">SunBriteTV.com</a> to purchase online or at a retailer <br> near you (Signature and Pro models only)</li>
						<li>Fill out this <a href="http://cdn.gosoundcast.com/Soundcast-Rebate-Coupon.pdf" target="_blank">rebate coupon</a> and mail in the receipts for both <br> products by July 31, 2014</li>
						<li>Receive $300 cash back (with OutCast purchase) or $100  cash <br> back (OutCast Jr. purchase)</li>
						<li>Get ready to enjoy the beautiful summer season with your brand <br> new backyard entertainment system!</li>
					</ol>
				</div>
			</div>


		</div>
	</div>
</div>
