<div id="page-body">
	<div class="banner_press">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 col-xs-12">
					<h1>Media & Press</h1>
				</div>
			</div>
		</div>
	</div>

	<br />

	<div id="presspage">
		<div class="container">
			<div class="row rel">
				<div class="col-sm-9 col-xs-12">
					{% include 'press-subnav' %}
					{% include 'press-about' %}

				</div>
				<div class="col-sm-3 hidden-xs abs contactabs">
					{% include 'press-contact' %}
				</div>
			</div>
			<br>
		</div>

		<section id="pressblog">
			<br>
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<header id="press-release" class="section-header clearfix">
							<h1 class="section-title white">Press Releases <span class="header-link"><a href="/pages/releases"> VIEW ALL PRESS RELEASES <span class="fa fa-caret-right"></span></a></span></h1>
						</header>

						<br>
						{% include 'press-blog' %}
						<div id="press-photo"></div>
					</div>
				</div>
				<br>
				<br>
			</div>

		</section>

		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<br>
					<section id="logosphotos">
						<header class="section-header clearfix">
							<h1 class="section-title">Logos & Photos <span class="header-link"><a href="/pages/press-images"> VIEW ALL IMAGES <span class="fa fa-caret-right"></span></a></span></h1>
						</header>
							{% include 'press-logos' %}
					</section>
					<secion id="brandphotos">
						<header class="section-header clearfix">
							<h1 class="section-title">Brand Resources</h1>
						</header>
							{% include 'press-brand' %}
					</secion>
					<br><br>
				</div>
			</div>
		</div>

		<section id="pressvideos">
			<br>
			<div id="press-video"></div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<header class="section-header clearfix">
							<h1 class="section-title white">Videos <span class="header-link"><a href="/pages/press-videos"> VIEW ALL VIDEOS <span class="fa fa-caret-right"></span></span></h1></a>
						</header>
						<div class="row">
							<div class="col-sm-7">
								<iframe src="//www.youtube.com/embed/5vTnzmwhYJg" frameborder="0" allowfullscreen></iframe>
							</div>
							<div class="col-sm-5">
								<h4 class="white">MEET MELODY</h4>
									<label>EMBED CODE:</label>
										<span class="vidfield">www.youtube.com/embed/5vTnzmwhYJg</span>
									<br>
									<br>
									<label>YOUTUBE URL:</label>
										<span class="vidfield">https://www.youtube.com/watch?v=5vTnzmwhYJg</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<br>
		</section>

		<section class="visible-xs">
			<div class="contact-box">
				<div class="contact-head">
					<h1 class="section-title white text-left">Contact PR</h1>
				</div>
				<div class="contact-inner">
					<p class="orange-head">FOR MEDIA INQUIRIES:</p>
					<p><a href="http://robertalewis.com/">ROBERTALEWIS.COM</a></p>
					<p class="orange-head">OR</p>
					<p>TWEET US @SOUNDCAST</p>
					<p>FOLLOW US ON FACEBOOK</p>
					<p>CHECK OUT OUR BLOG</p>
				</div>
			</div>
	</section>

	</div>
</div>


