<div id="sonos-page">
<div class="pad-nav"></div>	
<div class="row"> 
	<div class="text-left ">
      <div class="container">
      <div class="col-sm-7"><p class="catch">Now you can play the same music inside and out!</p></div>
      </div>
      <img class="visible-xs visible-sm" src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Soundcast/Sonos%20Page/iStock_000022478113Mediumnophones_zps6ffea990.jpg~original">
      <img class="top-img hidden-xs hidden-sm" src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Soundcast/Sonos%20Page/iStock_000022478113Mediumnophones_zps6ffea990.jpg~original">
    </div>
	</div>
  	<div class="grey-bg">
	<div class="container">
	<div class="row">
	<div class="col-sm-6">
		<p class="house-text">Experience “Connected Sound” when you blend Soundcast and Sonos. It's simple−extend the party when you integrate your indoor Sonos wireless music system with your outdoor Soundcast portable speaker system.</p>	
	</div>
	<div class="col-sm-6">
		<img src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Soundcast/Sonos%20Page/house_diagram2_zps688e3540.png~original" alt="" class="img-responsive">

	</div>
	</div>
    </div>
  	</div>
  	<div class="white-bg">
	<div class="container steps">
	<h1 class="text-left">How it Works</h1>
    <br>
	<p>Soundcast portable speakers make a great addition to any Sonos music system. Simply add a Sonos Connect (ZP90) to your Soundcast OutCast or OutCast Jr. and the Soundcast UAT transmitter. You can even use the Sonos remote app to control both systems!</p>
	<br>
    <h3 class="text-left">What You'll Need to Connect:</h3>
	<div class="text-center rel">
		<img  class="img-responsive img-center rel" src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Soundcast/Sonos%20Page/e89978f5-d15e-4687-9921-8d78d6f81320_zps7a0ea59c.png~original">
      	<p class="sonos-connect hidden-xs">Sonos Connect</p>
      	<p class="uat hidden-xs">UAT</p>
      	<p class="outcast hidden-xs">OutCast and/or<br>OutCast Jr.</p>
      <ul class="visible-xs text-left"><li>Sonos Connect</li><li>UAT</li><li>OutCast and/or OutCast Jr.</li></ul>
    </div>
	<hr>
	<h3 class="text-center">Step 1:</h3>
	<p>Using the RCA audio cable included in the UAT package, connect “audio out” located on the rear panel of your Sonos connect to “audio in” on the Soundcast UAT transmitter.</p>
	<div class="text-center">
		<img  class="img-responsive img-center" src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Soundcast/Sonos%20Page/step_1_zps002d5885.png~original">
	</div>
	<hr>
	<h3 class="text-center">Step 2:</h3>
	<p>Ensure that your UAT is connected to an AC outlet and that your OutCast speaker and UAT are set to the same channel.</p>
	<div class="text-center">
		<img  class="img-responsive img-center" src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Soundcast/Sonos%20Page/step_2_zps81d9bc0f.png~original">
	</div>
	<hr>  
	<h3 class="text-center">Step 3:</h3>
	<p>Open your Sonos app, look under Sonos “Connect Zone Menu” add to group under “Portable” and your OutCast speaker will be ready to play music outdoors.UAT transmitter.</p>
	<div class="text-center">
		<img  class="img-responsive img-center" src="http://i1370.photobucket.com/albums/ag251/anthroisphoto/Soundcast/Sonos%20Page/step_3_zps418d29c9.png~original">
	</div>
	<hr>
    <div class="container">
    <h4 class="text-left">Note:</h4>
      
      <div class="note-border">
        <ul>
          <li>Setting the Sonos Connect (ZP90) zone's audio to 'variable' will maintain volume control from the Sonos app and will also require volume control on the Soundcast speaker(s).</li>
          <li>Setting the Sonos Connect (ZP90) zone's audio to 'fixed' will deliver full volume from the Sonos and all volume will be controlled by the Soundcast speaker(s).</li>
          <li>You may also operate up to two Soundcast speakers per transmitter.</li>
          <li>Refer to the user’s manual of your Sonos system or your Soundcast system for additional setup instructions not mentioned in this guide.</li>
        </ul>
      </div >
      </div>
      <div class=text-center>
  		<a href="http://cdn.gosoundcast.com/sonos_integration_082714.pdf" class="btn btn-warning sonos-button">CLICK HERE TO DOWNLOAD SETUP GUIDE</a>
      </div>
	</div>
  </div>
</div>